[2022-08-22 01:56] WuChenDi commented on #4190
https://github.com/withastro/astro/issues/4404
@FredKSchott Thanks for your reply, I tried this configuration, but I didn't get the results I wanted.

My current problem is that when reading the `astro.config.mjs` file, the jump in the link component gives an extra `/` result, but not this.

![image](https://user-images.githubusercontent.com/31385662/185823561-51c8537a-5914-4b4d-a0ad-e5a8dc4fbe94.

[2022-08-22 03:03] niccholaspage opened #4414 "Vitest + Solid testing results in dynamic import warnings"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

I have setup a brand new Astro + SolidJS project and wanted to use vitest to test out the components. I got it working but can't get rid of these dynamic import warnings

[2022-08-22 04:21] FredKSchott commented on #4399
sounds perfect!

[2022-08-22 04:37] FredKSchott commented on #3602
Interesting@ This was not the intended use-case of the integration API. It was meant to be so that you could create routes using files outside of `src/pages` directory. I agree that this is a bug, but I would recommend avoiding this pattern if you can, since I am not sure how well supported this will be.

[2022-08-22 04:41] FredKSchott commented on #3326
With https://github.com/withastro/astro/issues/3196 I believe that this has been fixed. I disagree that we should hide any update logs for some files in the project directory, which I feel like will create more confusion than value.

At the very least, I would consider this an improvement and not a bug, so I'll go ahead and close unless anyone feels strongly otherwise.

[2022-08-22 04:41] #3326 closed

[2022-08-22 06:44] rodneylab opened #4416 "Secret env variables undefined during server build with Cloudflare SSR"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

Cloudflare

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

Non-public environment variable is not defined during Cloudflare server build, though it works fine in local build. I created a minimal reproduction with test to demons

[2022-08-22 09:27] pomber commented on #4389
To add more context, I think this is the only issue blocking the integration of Astro with [Code Hike](https://codehike.org/).

[2022-08-22 10:30] cvh23 opened #4418 "Custom HTTP status pages (404, 403) have different build output"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I have a `404.md` and a `403.md` in `src/pages` directory. If I execute `astro build`, I get a `404.html` but a `403/index.html` in `dist` directory. Although `astro build`-ou

[2022-08-22 11:22] SachaG commented on #4315
Same issue here:

<img width="570" alt="Screen Shot 2022-08-22 at 20 22 47" src="https://user-images.githubusercontent.com/358832/185909715-478a6b9f-17d3-4cdd-a219-8ea9ae2ddeec.png">

[2022-08-22 11:50] SchmiddyFolkwang opened #4419 "Case mismatched .astro components do not hot reload when running dev server"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

Hey there!
Just wanted to test out Astro and found a minor bug/inconvenience.

The stackblitz link doesn't really convey the problem because it behaves a little differentl

[2022-08-22 13:42] tony-sull commented on #4349
@mundry The image files need to be imported from '/src' rather than `/public`.  Public is meant for files that aren't touched at all by Astro during the build, they're just copied over as-is into `dist`

Bumping this down to a `p2` while I track down how we can add a better error message here.  The build really should catch this and warn or error with a clear note that images should always be impo

[2022-08-22 13:55] bluwy commented on #4361
@reggi @cj I can't seem to find any bug when testing locally. In SSG, `Astro.request.body` and `Astro.url.searchParams` are `undefined` and `""` by default. In SSR, both are populated, which is the expected behaviour. Should this information be updated in the docs instead? Or maybe I'm missing something.

[2022-08-22 14:00] cj commented on #4361
@bluwy https://github.com/cj/eslint-plugin-astro-script-parsing-error/blob/main/src/pages/api/trpc/%5Btrpc%5D.ts#L14 `request.url` is a string.

[2022-08-22 15:06] Thesoreon opened #4420 "astro add <integration> doesn't work for npm organization scoped packages"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

pnpm

### What operating system are you using?

Windows, MacOS

### Describe the Bug

Trying to add an integration through `pnpm astro add @example/integration` or `pnpx astro add @example/integration` throws an error `Cannot read properties of null (

[2022-08-22 15:09] matthewp commented on #4306
Thanks for your patience, I'm looking into this issue now.

[2022-08-22 16:59] tony-sull commented on #4411
`public` is not supported by design today so this will really be a new feature if we add it.  Removing the `urgent` flag for now but keeping this open so we can revisit how we might better support this (especially the use case of images in MDX)

[2022-08-22 18:17] bholmesdev commented on #4278
Hey @drewtownchi! I just bumped your stackblitz to the latest Astro version (`npm i astro@latest`) and wasn't able to replicate. Mind double checking if the latest version fixes the issue for you?

[2022-08-22 18:36] Jutanium opened #4424 "Functions and objects can be passed to HTML attributes in `.astro` (and are unhelpfully stringified)"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

In a `.astro` file, you can pass functions and objects as HTML attributes:

[code]
But these don't get serialized properly; they get stringified. Thus, there is no use case wh

[2022-08-22 18:39] bholmesdev commented on #4307
@brycewray Hm, I'm willing to bet `Astro.glob` is slowing things down. I know you're globbing `posts` but _not_ the `about` page in your example. We'll investigate the `0.9.0` changes to see what's cauisng this!

[2022-08-22 18:42] brycewray commented on #4307
Yes, sir, I thought of that, too, but that whole “correlation != causation” meme kept me from suggesting it. :-) Anyway, thanks as always!

[2022-08-22 19:45] #4317 closed

[2022-08-22 20:12] matthewp commented on #4413
Thanks, I think we probably need to add support for this config option in our CSS build plugin.

[2022-08-22 20:13] matthewp commented on #4413
@bluwy going to assign to you. I would assume the problem is happening in this plugin: https://github.com/withastro/astro/blob/main/packages/astro/src/core/build/vite-plugin-css.ts

If this becomes a rabbit hole don't spend too much time, we can discuss.

[2022-08-22 20:35] Tsourdox commented on #3071
Updating node to 16 solved it for me :)

[2022-08-22 21:05] timfee commented on #4350
So, it appears that Cloudflare's `wrangler` doesn't support node 14:
[code]

A fresh install does work correctly using `v16.12.0` and `v16.17.0` -- so, success! I'll update the docs to clarify.

[2022-08-22 21:21] PaulFarault opened #4429 "Empty Markdown frontmatter at build time"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

When creating custom Markdown plugins (as in the [doc](https://docs.astro.build/en/guides/markdown-content/#injecting-frontmatter)):

- Frontmatters are empty at build time.

[2022-08-22 22:12] FredKSchott commented on #4343
Thanks for the updated Stackblitz! I can reproduce in your stackblitz.

If you have any interest in jumping in to help with a fix, let us know! Otherwise we'll get to this as soon as we can.

[2022-08-22 22:18] #4307 closed

[2022-08-22 22:21] bholmesdev commented on #4429
Thanks for reporting @PaulFarault! So to be clear, the issue is "I expect my markdown frontmatter to be in `file.data.astro.frontmatter`, but it's an empty object instead?" Because that's a fair critique!

I'm also unable to see the "MD files are processed twice" issue when building in your stackblitz example. I see this output:

[code]

Since there are 2 markdown files, this should mean the files

[2022-08-22 22:26] bholmesdev commented on #4418
Thanks for reporting @cvh23! Double checking if this is special-cased for 404 pages, or if we should properly handle all status codes this way. I'll let @matthewp confirm!

[2022-08-22 23:13] mayank99 opened #4432 "Supporting CSS-in-JS"
It's not super clear which CSS-in-JS libraries work, so I'm creating this issue as sort of a place to start the conversation and document the current status.

Here's a few popular libraries that I know about (will keep this list updated):

| Library           | Status             | Notes

[2022-08-22 23:26] DevHusariaSolutions commented on #4343
We are full of work now. Just because of this bug we are stuck with some app refactor, and we need to use another package.
But Astro seems be better, I like it just because we switched from Svelte, which had same nice composition of logic and UI.
Hopefully You can make Solid work on Astro in next weeks, in free time I can give some look for that.

[2022-08-23 06:09] pencilcheck commented on #1227
I can't find the RPCs in the new links, I guess astro is not supporting this feature then??

[2022-08-23 06:27] delucis commented on #1227
I don't think this RFC was ever transferred but the feature was shipped! You can add a `.html` file inside `src/pages` to create a route or even import HTML fragments and use them as components.

[2022-08-23 06:50] Stratis-Dermanoutsos opened #4433 "Markdown mermaid is not supported"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

When I am added a `mermaid` code block, it only renders as plaintext.

To be more specific, when I visit the Markdown page that has any mermaid code block, the terminal lo

[2022-08-23 12:02] cvh23 opened #4435 ""chunks" directory appears in build output, if custom modules are imported in Astro files"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm

### What operating system are you using?

Mac, Linux

### Describe the Bug

I have a module file with helper functions: `src/utils/index.ts`. Some of these exported functions are used (imported) in Astro files. If I execute `astro build` an emp

[2022-08-23 12:03] aFuzzyBear opened #4436 "Integration: Image, `base` is not being respected during build"
### What version of `astro` are you using?

latest

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Linux

### Describe the Bug

User had reported an issue with the build output of the images not being correctly displayed.
User has a `config.base` setting within  that is not being respected during b

[2022-08-23 12:47] #4306 closed

[2022-08-23 12:53] janus-reith commented on #4391
@bholmesdev I tried the @astrojs/vercel v1.0.1 and while the build succeeds now,  pages that use a react component are rendered with an empty body.
I have added a second page similar to the other one, except that the React component has been omitted, that one renders fine.

[2022-08-23 13:08] panwauu opened #4437 "Chart.js with Vue: Hydration completed but contains mismatches"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

The issue comes up when trying to use vue with [chart.js](https://www.chartjs.org/) and a [vue-chartjs wrapper](https://vue-chartjs.org/). The compenent looks something li

[2022-08-23 13:14] PaulFarault commented on #4429
Hi Ben! Thx for your answer!

It's exactly that. Thanks for explaining me how it works. Would be nice to be able to have the frontmatter directly, for developping ease and even testing purposes!

---

I got the same output as you but twice, which I interpreted as "MD files are processed twice". I may have misinterpreted tho.

[code]

[2022-08-23 13:19] matthewp commented on #4424
What is it you are expecting to happen here?

[2022-08-23 13:24] matthewp commented on #4435
During the build we create a bundle for SSR that is used to generate pages. My guess is that a `chunks` folder is being created for that and then not cleaned up in the end. @bluwy to take a look.

[2022-08-23 13:34] matthewp commented on #4416
Things I'd like to know:

* Is our private env handling build time or runtime?
  - If it's runtime, does it work with the Node adapter.
* Is this a specifically Cloudflare issue?

[2022-08-23 13:41] Jutanium commented on #4424
If there’s no reason for this to be supported, I’d expect the compiler to reject this or warn against it.

[2022-08-23 14:09] djmtype opened #4440 "@astrojs/image not processing the image from frontmatter correctly"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When referencing images from markdown's frontmatter that have been placed within `public` or `src`, the `<Image />` or `<Picture />` component doesn't render the image. Howeve

[2022-08-23 14:09] #4420 closed

[2022-08-23 14:13] matthewp commented on #4424
You want this to be supported in general. JavaScript treats the `toString()` method on objects special, giving you a way to serialize objects to strings. For example:

[code]

That we want to continue to support. Maybe functions are different though and we should warn there. Although you can modify a function's toString method to make it correctly serialize, so maybe even that's something we shoul

[2022-08-23 14:35] matthewp commented on #4432
This looks great! Is one of the goals of this to get documentation into the docs site?

[2022-08-23 14:38] #4101 closed

[2022-08-23 15:04] Jutanium commented on #4424
I'll just advocate then for warning against passing functions as HTML attributes:
- Passing functions as HTML attributes happens often when learning Astro, because they try to add event handlers in their `.astro` file like they would in JSX. A warning will help put them on the right track.
- Any use case for overriding a function's `toString` method is sufficiently advanced that they can work arou

[2022-08-23 15:24] elevatebart opened #4444 "Astro language server hates the word "for"... probably?"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When I open VSCode, the `index.astro` tells me that my `Question.astro` component is not a module.
The component only contains `<b>for</b>`.

<img width="990" alt="Screen Shot

[2022-08-23 15:26] elevatebart commented on #4444
StackBlitz is not useful here since there is no language server

https://stackblitz.com/edit/github-3zsnep?file=src/pages/index.astro

[2022-08-23 15:43] mayank99 commented on #4432
Yup! After testing everything (including some more advanced cases) and fixing anything that's fixable by Astro, I believe we want to document what works, what doesn't work, and suggest alternatives.

[2022-08-23 15:58] bholmesdev commented on #4321
Agreed this is an issue! I'm thinking about a "Waiting for X integration..." log across all of our build hooks in case something takes longer than expected. Say, log on a 3 second timeout. PR coming shortly!

[2022-08-23 16:03] Princesseuh commented on #4444
Hello! Thank you for reporting this issue. This is a known issue with how we parse Astro files in the language server at the moment. We're not quite sure of the cause yet (seems like a weird TypeScript issue?), but we've found a way to fix it. You can track this PR for the fix https://github.com/withastro/language-tools/pull/335

I'll close this as a duplicate of https://github.com/withastro/langu

[2022-08-23 16:15] bholmesdev commented on #4245
Closing since Shiki-twoslash isn't the default anymore! To add + configure Twoslash, see [the "custom syntax highlighting" guide in the MDX README](https://docs.astro.build/en/guides/integrations-guide/mdx/#switch-to-a-custom-syntax-highlighter)

[2022-08-23 16:15] #4245 closed

[2022-08-23 16:16] bholmesdev commented on #3603
Closing since this is a legacy markdown issue. Try using the `Code` component in MDX for this use case!

[2022-08-23 16:16] #3603 closed

[2022-08-23 16:17] bholmesdev commented on #4397
Confirmed I can reproduce! Submitted a fix PR above 👍

[2022-08-23 16:45] mayank99 commented on #4432
I feel like it should be possible to fix `styled-components` and `emotion`. The big problem with both of them is that their SSR[^1] strategy requires altering the html produced by react's `renderToString`/`renderToNodeStream` methods.

The [`styled-components` docs](https://styled-components.com/docs/advanced#server-side-rendering) suggest wrapping the whole `<App />` with a provider but only on t

[2022-08-23 17:25] #4397 closed

[2022-08-23 17:26] #4393 closed

[2022-08-23 17:37] tusamni commented on #3681
Yup, this is happening to me on Windows 11 and is very frustrating when doing development with client side scripts.

[2022-08-23 18:07] #4321 closed

[2022-08-23 20:13] matthewp commented on #4432
@mayank99 Since these are for React apps I think it makes the most sense that this is part of some API for the React renderer. That *might* also require core Astro changes, I'm not sure.

There already is a hook into the rendering pipeline via the renderer API, so it might be possible to prototype this idea as a separate renderer before plugging it into the React render (although either approach i

[2022-08-23 20:55] eliasbrange opened #4447 "Upgrading @astrojs/mdx from 0.9.0 to 0.10.x breaks custom syntax highlighter that uses title metadata"
### What version of `astro` are you using?

1.0.0

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows (WSL 2)

### Describe the Bug

Upgrading `@astrojs/mdx` from `0.9.0` to `0.10.x` breaks the line highlighter in `rehype-pretty-code`. It uses metadata in the title such as

[code]

Since I do n

[2022-08-23 21:44] cameronmcefee commented on #4220
My console is once again at peace. Thank you.

[2022-08-23 22:24] brycewray opened #4448 "Curly quotes with remark-smartypants and MDX"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

macOS 12.5.1

### Describe the Bug

Using MDX (and I've observed this in both v.0.8.1 and v.0.10.1 of `@astrojs/mdx`), the built-in `remark-smartypants` functionality has problems with the double quotat

[2022-08-23 22:54] ChristineTham commented on #4436
Thank you for posting this. I have this problem too, and have been wanting to post an issue, but you beat me to it! Basically the static url generated does not include config.base during build - works in dev.

[2022-08-24 02:02] joshuaiz commented on #4220
Yes thank you. Sigh.

[2022-08-24 02:15] M4rteaga commented on #655
```pnpm --global update astro```  works for me

[2022-08-24 02:59] reggi commented on #4361
I should have provided an example. I agree I tried it as well and couldn't see the issue again and everything worked with and without `output: "server"` as expected. Clarity in the docs would be great, thanks!

[2022-08-24 03:54] mayank99 commented on #4432
I was starting to look into customizing the renderer when I decided to try the prod build (which I had not tried before), and unfortunately the situation is even worse. See updated chart in issue description.

`styled-components` and `emotion` both fail with: `styled.div is not a function`. Adding them to `vite.ssr.noExternal` does not seem to help. `@linaria/css` works fine but `@linaria/react` f

[2022-08-24 08:46] darusk commented on #4319
Was looking at this a little more.  If you render component 'A' with the `client:only="vue"` directive it seems to build ok.  However the components are literally only templates, so I imagine Vue must hit one of the conditions the error mentions when using the composition API.

[2022-08-24 08:56] X-Jagger opened #4450 "Bug: not supporting vue tsx"
### What version of `astro` are you using?

^1.0.8

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

pnpm

### What operating system are you using?

mac

### Describe the Bug

error： Cannot read properties of undefined (reading '0')

please check the reproducible example

### Link to Minimal Reproducible Example

https://stackblitz.com/edit/github

[2022-08-24 09:01] bluwy commented on #4361
That's from the standard `Response` object so a string is expected. Astro does provide `Astro.url` which is the same as `new URL(Astro.request.url)` but that's for Astro components only. I tested the repo and it looks like the search params are properly passed so it seems to be working fine.

I'll update the docs regarding this for now.

[2022-08-24 09:02] rstacruz commented on #4387
This also happens to me on Astro 1.0.8 on Linux via WSL2.

[2022-08-24 09:09] X-Jagger commented on #3722
@CDHon same error here，how do u configure it right?

[2022-08-24 11:02] nstepien commented on #4432
Another lib worth trying is `astroturf`, which would be good fit for this project just for the name alone 🙃
https://github.com/4Catalyzer/astroturf
https://4catalyzer.github.io/astroturf/introduction/

[2022-08-24 12:39] matthewp commented on #4242
Thank you for posting. The key thing here is that the CSS is imported by hoisted script, and not inside of the server. I think this *should* still work though, so looking into it.

[2022-08-24 13:45] nstepien commented on #4432
I've not tried it myself, but the docs do mention a rollup plugin: https://4catalyzer.github.io/astroturf/setup

[2022-08-24 14:33] Princesseuh commented on #3562
Hello! A little update on this issue: There's no issues 😅

The second argument of `Astro.slots.render` is an array of argument, so if you wanted to pass an array as the first argument, you'd need to do `[['Hello', 'World']]`. This is a bit confusing, we'll add an error message when passing things that are iterable but not arrays (ex: strings) and some inline documentation to try to make this more

[2022-08-24 15:52] calebeby opened #4459 "Hangs if imported mdx component references component that does not exist"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

stackblitz

### What operating system are you using?

stackblitz

### Describe the Bug

When I run `astro build`, it hangs.

The setup is that there is a `pages/index.mdx` that imports/uses `components/card.mdx` that references a `SomeComponent` tha

[2022-08-24 15:55] bholmesdev commented on #4418
Just touched base with @matthewp on this, and it sounds like this is intentional. Popular providers like Netlify support `404` handling via a `404.html`, but not other status codes. So, we special-cased 404 routes specifically to avoid an `index.html`.

Today, you can change `route/index.html` -> `route.html` across the board by [setting `build.format: 'file'` in our Astro config](https://docs.ast

[2022-08-24 15:56] trentvb opened #4460 "Lit component - using connectedCallback breaks updates"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

I added a connectedCallback function to to the my-counter.js example:

` connectedCallback() {
    this.count = 42;
  }`

The counter failed to show the update of 42. It a

[2022-08-24 16:20] tensorplc opened #4461 "Can't run app after installing @astrojs/image"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm/pnpm

### What operating system are you using?

Mac

### Describe the Bug

I am trying to using @astro/image but after installing, my app will not run.

I've tried using both npm (v8.1.2) and pnpm (v7.8.0) and I'm using node version 16.13.1

In

[2022-08-24 16:37] bholmesdev commented on #4278
Hey, checking in that this issue persists! Let me know if the latest Astro release fixes the issue for you.

[2022-08-24 16:58] cvh23 commented on #4418
Thanks for your answer. But build process output is still stating, that `403.html` was generated, which is not the case. Also local development server serves `403.html` instead of generated `403/index.html`. So there are still some issues, even if this is intentional.

Yes, would be good to have a common solution for HTTP status pages, not just 404.

[2022-08-24 16:59] calebeby commented on #4459
When it hangs, the memory usage keeps going up (to gigabytes 😬). If I run it locally, v8 eventually crashes saying JS heap out of memory.

[2022-08-24 17:00] mundry commented on #4349
Thanks @tony-sull for clearing up my mistake. It works like a charm putting the images under 'src', both with `Picture` and `Image` components.

I consider my issue resolved.

[2022-08-24 17:44] calebeby commented on #4459
This also happens if you pass in a variable that doesn't exist, e.g. `{somethingDoesntExist}`

[2022-08-24 18:04] niftytyro commented on #3468
Hi, I would like to pick this up.

Here's what I am thinking: allow passing a `slugify` function in astro config under `markdown` and use it for slugifying markdown headings if passed, else use the default. Let me know if I am missing something.

[2022-08-24 18:50] calebeby commented on #4459
Also, editing `components/card.mdx` (when it is valid) does not trigger changes to get picked up until I restart the dev server. I don't know if that is related to this issue, if it isn't I can open a separate issue.

[2022-08-24 19:18] Princesseuh commented on #4387
The reason this happens is because TypeScript somehow turns that import path into a lowercase version on certain OSes. Here's a Vite issue talking about this exact issue. https://github.com/vitejs/vite/issues/4028

They fixed it on their end by using a path reference, but since we can't do that we'll have to find another solution, probably by making a PR to Vite itself

In the meantime, adding `sk

[2022-08-24 19:35] drewtownchi commented on #4278
I agree this issue seems to be resolved now. Thank you!

[2022-08-24 19:35] #4278 closed

[2022-08-24 19:51] matthewp commented on #4460
You need to call `super.connectedCallback();` if you override connectedCallback.

[2022-08-24 19:51] #4460 closed

[2022-08-24 20:05] matthewp commented on #4440
@tony-sull I'm assuming we expect this to work?

[2022-08-24 20:24] vxncetxn opened #4463 "Upgrading to Astro 1.0.8 breaks @motionone/solid"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

Upgrading Astro to v1.0.8 from previous versions which worked fine such as v1.0.7 somehow breaks `@motionone/solid`, where this error appears (can also be observed in minimal

[2022-08-24 20:28] tony-sull commented on #4341
I think we're still a little early in the image integration to add more fine-grained image transformations like this.  The plan right now is to keep the transformations with the built-in service pretty bare bones to avoid painting ourselves into a corner

We're actually hoping to swap `sharp` for [Squoosh](https://www.npmjs.com/package/@squoosh/lib) as the default image transformer soon to add sup

[2022-08-24 20:28] #4341 closed

[2022-08-24 20:36] trentvb commented on #4460
You are correct. I'm new to Lit. However, even after adding the `super.connectedCallback();`, the count isn't updated until another increment event. It appears any state change in `connectedCallback()` isn't applying.

[2022-08-24 21:16] matthewp commented on #4460
Is that the correct way to change state in a Lit component?

[2022-08-24 21:19] trentvb commented on #4460
"correct" is a loaded word for someone just trying to learn the library. I'll put it this way, when I change state there using my other build tools (Vite + Lit) it does what I expect it to.

[2022-08-24 21:41] darusk commented on #4440
The example repo linked to is trying to get the images from the `public` folder, which I believe is still not possible.  If the images are moved to `src/images` and the frontmatter changed accordingly, the example does seem to work—at least the main index.  I did query this in a support thread created by the OP, but did not get a response on it.

[2022-08-24 21:42] Brugman commented on #4244
Thanks!

[2022-08-24 22:53] djmtype commented on #4440
For kicks tried nesting the `<Picture />` component within another Astro component. So long as the images are within `src` everything works. This issue can be closed since it's probably related to https://github.com/withastro/astro/issues/4411

[2022-08-25 00:12] joeldbirch commented on #2984
I'm still getting this with a fresh install with the `docs` template. Same specs as OP. Tried `npm install -D @astrojs/react@latest` as suggested by @FredKSchott but its version didn't change (^1.0.0).

[2022-08-25 02:23] OllieJT opened #4464 "@astrojs/vercel v1.0.1 fails to build"
### What version of `astro` are you using?

^1.0.8

### Are you using an SSR adapter? If so, which one?

@astrojs/vercel

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

Development works fine, running astro build results in an error.

Downgrading to `@astrojs/vercel@1.0.0` resolves this. Upgrading back to `@astrojs/vercel1.0.1` b

[2022-08-25 02:23] jaydanurwin opened #4465 "Lit component using Typescript can't build with decorators"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I'm surprised this one hasn't been reported quite yet with the Astro + Lit integration using Typescript. I am getting this error when I use a the @property, @state, @query, et

[2022-08-25 03:24] kelvin-zhao commented on #4388
@bluwy do you know if there's any estimate on when this fix will be pulled in? Considering to switch away from Svelte for my new project if this might take some time. 🙏🏻 Thanks in advance~

[2022-08-25 03:51] kagankan opened #4468 "`base` config is ignored on build"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows 10

### Describe the Bug

after `astro build` with `base` config, fail loading image from script.
image path in the script should be `/(base)/assets/images/image.png` but it's `/assets/images/im

[2022-08-25 06:02] marcosmartini opened #4470 "Astro Markdown doesn't render empty alt attribute properly"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When using the astro flavoured markdown, if you add an image and add an empty alt attribute to it, instead of rendering `<img alt="" />`, it will render with extra quotes like `

[2022-08-25 06:44] rainerbird opened #4471 "Optional chaining in astro islands TypeScript breaking Safari 12"
### What version of `astro` are you using?

1.0.8

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I am loving Astro so far! Just relaunched one of my projects with it.

We just got feedback that our site doesn't work at all in iOS 12 and Safari 12. With some investigating

[2022-08-25 08:23] bluwy commented on #2984
@joeldbirch it seems to be working fine for me. Make sure you setup the template with `npm create astro@latest` too, perhaps you got an older version.

[2022-08-25 08:34] #4413 closed

[2022-08-25 08:39] bluwy commented on #4388
The next Vite release will be a 3.1 beta, and it usually takes one or two weeks before stabilizing (hoping to push this one faster). So it might take some time unfortunately. Once Vite 3.1 beta comes out you can use [overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) to change to a specific version though. I'll close this one for now as the work has been done for the

[2022-08-25 08:39] #4388 closed

[2022-08-25 11:35] osdiab commented on #4432
Also btw https://github.com/typestyle/typestyle worked fine when i tried it.

[2022-08-25 11:56] stefenphelps commented on #4411
[There's a few of us having the same issue](https://github.com/RafidMuhymin/astro-imagetools/issues/111) with "astro-imagetools" integration ever since Astro version 1.02 — would love to get support back for images in `public`.

[2022-08-25 13:24] #4361 closed

[2022-08-25 13:35] #4468 closed

[2022-08-25 13:35] matthewp commented on #4468
Thank you!

[2022-08-25 14:05] reggi commented on #4361
🙏

[2022-08-25 14:33] bluwy commented on #4416
It looks like it's build-time

I believe this is because Astro's env handling looks for a `.env` file and builds with it. Since the env vars on cloudflare are in `process.env.*` only, it isn't included in the build. A workaround is to have a custom pre-build script that reads the `process.env.*` and write into `.env`.

Perhaps we can try reading the `process.env.*` too in the build process. I'll c

[2022-08-25 14:46] bluwy commented on #4388
Vite 3.1-beta.0 has been released which you can try out!

[2022-08-25 14:50] bluwy commented on #4414
This should be fixed upstream in Vite at https://github.com/vitejs/vite/pull/9738, which is now released at Vite 3.1.0-beta.0. You can try it out by using [yarn resolution](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/)s (if you're using yarn) to override the Vite version used by Astro.

[2022-08-25 14:50] #4414 closed

[2022-08-25 15:09] mayank99 commented on #4432
@osdiab I've added an example for typestyle and updated the table. Thanks for the recommendation.

[2022-08-25 15:14] #4242 closed

[2022-08-25 15:15] marceloverdijk commented on #4309
Can it be confirmed if this is a bug or intended behavior?

And maybe label the issue accordingly?

[2022-08-25 15:22] matthewp commented on #4309
`Astro.params` will never be anything other than strings because it comes from the URL. When the params are created it is not aware of the types that getStaticPaths returns. In SSR it will never know. So I think that part is a typing mistake.

The warning you're seeing I'm not sure about and will need to keep investigating. I would think that it should be ok to return a number but perhaps I am mis

[2022-08-25 15:42] #4463 closed

[2022-08-25 15:42] #3562 closed

[2022-08-25 15:55] matthewp commented on #4432
@mayank99 if you have failing Stackblitz examples for the ones that are possibly bugs that would be helpful for debugging.

[2022-08-25 16:46] Jelenkee opened #4476 "CSS for Svelte components is generated twice"
### What version of `astro` are you using?

1.0.9

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

When i build my website the CSS for my svelte component is generated as part of the index.css and as a file for the svelte component.
I added a rollup plugin to log the bundle

[2022-08-25 16:58] mayank99 commented on #4432
@matthewp You should be able to open the examples repo in stackblitz.

https://stackblitz.com/github/mayank99/astro-css-in-js-tests/tree/main/styled-components
https://stackblitz.com/github/mayank99/astro-css-in-js-tests/tree/main/vanilla-extract

Swap out the last part of the url with the name of the library you want to debug.
[code]

[2022-08-25 17:44] marceloverdijk commented on #4309
Yes for SSR I fully understand, not for SSG.

And I can also understand to take the `string` variant only then.

Maybe @natemoo-re @bholmesdev @tony-sull can chip in about that typing change in the merged PR #3087

[2022-08-25 18:57] #4172 closed

[2022-08-25 19:15] #4297 closed

[2022-08-25 19:17] matthewp commented on #4464
Thanks, I'm going to take a look at this now.

[2022-08-25 19:21] #4190 closed

[2022-08-25 19:21] MoustaphaDev commented on #4464
Looks like it's related to this commit https://github.com/withastro/astro/commit/4ac271888346c307dd361801337eade918387e89

[2022-08-25 19:22] matthewp commented on #4464
Ah, very odd, thanks @MoustaphaDev, I will revert that.

[2022-08-25 19:30] MoustaphaDev commented on #4464
No I don't think it should be reverted since it corrects a bug which was that `@astrojs/vercel/static` was importing `@astrojs/vercel/serveless`'s adapter

[2022-08-25 19:34] matthewp commented on #4464
Happy to go with another solution if there is one, but I'd rather revert something that's completely breaking the adapter vs. leaving this as is.

[2022-08-25 19:42] MoustaphaDev commented on #4464
@OllieJT should've used `@astrojs/vercel/serveless` in the first place because he's doing SSR, but the bug allowed him to do SSR with `@astrojs/vercel/static`. He should just use `@astrojs/vercel/serverless` (as the docs stated)[https://docs.astro.build/en/guides/integrations-guide/vercel/]

[2022-08-25 19:44] matthewp commented on #4464
Oh I see, this is a usage problem. Probably we should be warning about using static as an adapter.

[2022-08-25 19:54] matthewp commented on #4464
Ok, closing, @OllieJT please use `@astrojs/vercel/serverless` instead.

[2022-08-25 19:54] #4464 closed

[2022-08-25 20:30] #3163 closed

[2022-08-25 21:14] matthewp commented on #4151
This is an interesting one because even if you ignore the svelte component and just use `bg-blue-700` in the `index.astro` it doesn't show up. Not sure what is happening.

[2022-08-25 21:18] matthewp commented on #4151
Ah, it's because you are setting theme colors which overrides the builtin colors. You need to use extends. https://tailwindcss.com/docs/background-color#customizing-your-theme

[code]

[2022-08-25 21:18] #4151 closed

[2022-08-25 21:24] matthewp commented on #4465
I would probably just say 1 starter that uses TypeScript since that's what most people in the community use.

[2022-08-25 21:40] OllieJT commented on #4464
Thank you, we resolved this on Discord a couple of hours ago and I forgot to return here - thank you for the support!

[2022-08-25 21:48] bholmesdev commented on #4178
@ChristianK43  @djmtype Looks like this _may_ be resolved in the latest version of Astro (`1.0.9`) and MDX (`0.10.1`)! I have a working demo over here with that `Dummy` component you provided. Let me know if this works as expected for you when editing on the dev server.

https://stackblitz.com/edit/github-u9y6mb?file=src/components/Title.astro

[2022-08-25 22:12] tony-sull commented on #4276
@eastcoasting Looks like this should be fixed in the latest release, would you mind updating your local reproduction to the latest `@astrojs/image` release to confirm?

A recent release updated how remote URLs are handled, in SSG builds the optimized image filename now includes a hash of the full original URL :+1:

[2022-08-25 22:58] jaydanurwin commented on #4465
I think that makes sense. I personally use Typescript nearly exclusively for my Lit components and with Astro it's nice that it just can handle it for you. It's a big selling point honestly. Any ideas on the build error?

[2022-08-26 00:17] Dmarcotrigiano commented on #4419
This bug was driving me nuts, thanks for providing a solution.

[2022-08-26 08:43] krolebord opened #4489 "Error "Module '*.astro"' has no default export." when importing components with conditional rendering"
### What version of `astro` are you using?

1.0.9

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac, Linux

### Describe the Bug

Importing astro component with conditional rendering in it (`{condition && <p>text</p>}`) causes `Error "Module '*.astro"' has no default export."`

### Link to Minimal

[2022-08-26 08:49] bluwy commented on #4416
Actually we do read from `process.env.*` but the problem is because `process.env.` doesn't exist in Cloudflare workers. What Astro does under the hood is that it transforms `import.meta.env.SECRET` into `process.env.SECRET`, which wouldn't work.

A workaround for now is to use `vite.define` to replace them yourselves, e.g.

[code]

I don't think there's much we can do for this issue, other than do

[2022-08-26 10:27] rainerbird commented on #4471
@bluwy thanks a lot for jumping on this and patching an update really quickly.

I updated to the latest version of Astro this morning and tested it out and it worked!

However I've noticed it only works in development and not in production. I'm using Netlify to create a live server and then Lambatest to try it in Safari 12. Everything works fine, but then when I try it in production it fails again

[2022-08-26 11:35] fandy opened #4491 "Component hydration breaks when using `client:load="react"`"
### What version of `astro` are you using?

^1.0.7

### Are you using an SSR adapter? If so, which one?

Vercel

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

The TopBar component uses `window.location` to determine the active path, but that requires a check for `window` that returns `null`. This breaks HMR because the server an

[2022-08-26 12:45] bluwy commented on #4491
What about [Astro.url](https://docs.astro.build/en/reference/api-reference/#astrourl)? You can pass this from the Astro file into the React component. `Astro.url` exists for client and server for usecases like this.

[2022-08-26 12:48] bluwy commented on #4461
It's working for me on macos. Stackblitz doesn't work as it doesn't support sharp's native binary.

Does the error logs caused by `'Something went wrong installing the "sharp" module'` first? We should probably figure out what's wrong when installing sharp then. Sharp's [installation](https://sharp.pixelplumbing.com/install) page and [GitHub](https://github.com/lovell/sharp/search?q=something+went

[2022-08-26 13:03] #4416 closed

[2022-08-26 13:08] oliverholms commented on #4461
I have the same problem — once I manually installed @astrojs/image with npm, I can't start the local app.

I get a different error message though:

[code]
I'm using an M1 MacBook Air and I'm not using SSR. (npm v7.6.3 / node v16.15.1)

[2022-08-26 14:00] oliverholms commented on #4461
Updating the dependencies fixed this for me.

[2022-08-26 14:04] bholmesdev commented on #4418
Ah sorry, I forgot about that misleading console message. I'll reopen to work on a fix 👍

[2022-08-26 14:29] bluwy commented on #3373
This should be fixed upstream in Vite 3.0.9 which the latest Astro version uses. It will now warn when the import can't be resolved in dev mode as it needs to be static in order for Vite to "link" it.

[2022-08-26 14:29] #3373 closed

[2022-08-26 14:49] tony-sull commented on #4349
Glad that did the trick!  I'm looking into whether we can support using `/public` in the image components as well so hopefully this limitation will be gone soon! 🤞

[2022-08-26 14:49] #4349 closed

[2022-08-26 15:06] bluwy commented on #4437
This looks like a packaging issue from `chart.js` in dev, Astro/Vite is able to read it's `module` field to get the ESM bundle, but in static builds that executes the code in nodejs, nodejs doesn't understand `module`, hence it loads the CJS version. Since both have different export shape, you can do something like this to workaround:

[code]

Once chart.js releases 4.0, this should be fixed too.

[2022-08-26 15:06] #4437 closed

[2022-08-26 15:35] #4418 closed

[2022-08-26 15:39] rodneylab commented on #4416
Thanks, that&rsquo;s working fine 😁

[2022-08-26 15:47] #4387 closed

[2022-08-26 20:11] matthewp commented on #4465
This seems to fix it in your config:

[code]

A lot of the lit packages don't work well in Vite for some reason. I'll see about adding this config to the integration so its not needed by end users.

[2022-08-26 21:21] Jelenkee opened #4505 "Internal server error: Transform failed with 1 error"
### What version of `astro` are you using?

1.1.0

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

Sometimes when the dev server is running and I make some changes on my components, I get this error in my Layout.
[code]

After refreshing my browser the error is gone. It is

[2022-08-26 21:32] sunneydev opened #4506 "`@types/react` not included in devDependencies when doing `astro add react`"
### What version of `astro` are you using?

1.0.1

### Are you using an SSR adapter? If so, which one?

wat

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

Not much to say, it did not install `@types/react` and I had type errors when writing `.tsx` code.

### Link to Minimal Reproducible Example

https://stackblitz.com/github

[2022-08-26 21:38] bholmesdev commented on #4391
Ah, fair enough! I'll re-open this issue so we don't have to refile a separate one. Will investigate 👍

[2022-08-26 22:20] bholmesdev commented on #4433
Thanks for reporting @Stratis-Dermanoutsos! Yes, it looks like `mermaid` _is_ included in Shiki's default language list. I'll investigate why we're missing this 👍

[2022-08-27 07:29] niftytyro commented on #3468
Apparently, no changes are needed in astro 😅. @naiyerasif has already created a plugin that takes a custom slugify function - [@microflash/rehype-slugify](https://www.npmjs.com/package/@microflash/rehype-slugify).

So this can easily be achieved by specifying the plugin in astro config.

[2022-08-27 08:56] panwauu commented on #4349
In the [documentation](https://docs.astro.build/en/guides/integrations-guide/image/#installation) it is stated: `For images in your project’s repository, use the src relative to the public directory.`

It would be good to change this if this issue is still open.

[2022-08-27 09:20] sunneydev commented on #4506
@Princesseuh Yeah I see that, tell me if I'm wrong, but I don't believe it would be hard/problematic to implement?
We need to check if the project is using TypeScript or not and add dependencies based on that.

I dived in the source code and couldn't figure out how the `astro add` command works entirely. The code says it just resolves from the `npmjs` and adds `peerDependencies` if it has any, but

[2022-08-27 09:58] DerYeger commented on #4291
Is there any progress on this? If not, I'd like to work on this.

[2022-08-27 10:40] micvolo commented on #3681
me too, i also have the same problem on windows 11 and astro 1.1.1. WIth WSL everything works as expected. So its a windows-related bug. Does someone found a solution or we are bound to WSL?

[2022-08-27 11:01] DerYeger commented on #4291
I had some spare time, so I created PRs for both the change and Astro's docs.
Let me know if anything is missing!

[2022-08-27 11:29] panwauu opened #4513 "@astrojs/image does not load local images in dev"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

When using build+preview the images located in src/images are loaded successfully. When using dev the images are not found.

I use the element like this:
[code]

The image

[2022-08-27 13:29] Princesseuh commented on #4506
@sunneydev For React it's pretty easy, just need to add dependencies. `astro add`'s uses the `peerDependencies` field of the integration to determine what packages to add.

The issue becomes a bit larger because for other frameworks, it's not packages you need to add but settings to `tsconfig.json`.

Adding settings there is easy enough using a package like `comment-json`, but what do you do when

[2022-08-27 13:41] sunneydev commented on #4506
I see. I guess the problem you're trying to solve complicates getting `TypeScript` working properly for eveything, but are there really a lot of frameworks that need specific `tsconfig.json` settings?

My point is that implementing the feature of resolving `@types` should definitely be considered, it may not work for everything, but it should work for the majority of packages? I just think it will

[2022-08-27 13:46] Princesseuh commented on #4506
`@types` works for React and Alpine. Everything else (apart from Svelte and Lit) needs `tsconfig.json` changes

[2022-08-27 14:06] jaydanurwin commented on #4465
Awesome, thanks for the tip on the Vite config!

[2022-08-27 16:29] sellingsolutions opened #4516 "Importing a react-lottie component in astro gives "Error: Element type is invalid""
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

If you open up my stackblitz link and run `npm run build` you should get a build error with the mesage `Error: Element type is invalid: expected a string (for built-in compone

[2022-08-27 17:44] DerYeger commented on #4516
Hi, if you add `console.log(LottieAnimation)` to your `index.astro`, you will see that the component function is imported as expected.

Does lottie-react support SSR?

I noticed that you used `client.load` (which should be `client:load`), so the animation component is rendered at build time.
If lottie-react does not support SSR, you can get it to work by using `client:only="react"` instead, which

[2022-08-27 17:54] DerYeger commented on #4516
Interestingly, using lottie-react's `useLottie` hook works fine even with `client:load`.
However, it's still affected by https://github.com/withastro/astro/issues/4220, unless you're using `export default function`.

[2022-08-27 17:56] DerYeger commented on #4513
You cannot load images using the `<Image>` component like this.
As seen in [the docs](https://docs.astro.build/en/guides/integrations-guide/image/#local-images), you need to `import` images using **relative** paths:

[code]

[2022-08-27 18:01] DerYeger commented on #4491
`client:load="react"` is not valid, as seen in [the docs](https://docs.astro.build/en/reference/directives-reference/#clientload).

As mentioned by @bluwy, you may use `Astro.url.pathname` to access the current path.

[2022-08-27 22:39] joeldbirch commented on #2984
Thank you. It did indeed install later versions when I tried a fresh install (astro@1.1.1 for example), which worked. It seems I also had to delete my node_modules folder in my Lerna workspace, which was a variable I didn't mention. Anyway, all good, and thanks for your help @bluwy.

[2022-08-27 22:53] Bobakanoosh commented on #4178
Just spent a frustrating hour trying to figure out why my pages weren't hotreloading, finally find this.

Works fine on the following version:
[code]

[2022-08-27 23:50] sidvenu opened #4518 "Typescript does not build"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

`tsc --noEmit`, as suggested by https://docs.astro.build/en/guides/typescript/#type-checking to be used, throws the following error:

    ❯ npm run build
    $ astro check &&

[2022-08-28 01:51] JuanM04 commented on #4433
@Stratis-Dermanoutsos, #4519 should address your issue. If you are looking for a implementation of Mermaid in Astro like GitHub does, you can check out my webpage, where I've done that: [mermaid.ts](https://github.com/JuanM04/portfolio/blob/b312b44e08558bc72b5c8cb15f2ee32c3349d277/src/plugins/mermaid.ts), [Layout.astro](https://github.com/JuanM04/portfolio/blob/b312b44e08558bc72b5c8cb15f2ee32c3349

[2022-08-28 02:02] JuanM04 commented on #4470
Correct me if I'm wrong, but I think the way you write empty alt attributes is by writing nothing inside the brackets. Instead of `[""](source.png)`, it should be `[](source.png)`. I did a quick search through the Markdown spec and I didn't find any mention of `[""]` but yes about `[]` (which results in `alt=""`).

[2022-08-28 02:25] marcosmartini commented on #4470
Hey @JuanM04 thanks for the reply! If I write `[](source.png)` it returns only `alt` without the `""` – Apparently, when using a decorative image, we should be outputting [`alt=""`](https://www.w3.org/WAI/tutorials/images/decorative/)

[2022-08-28 08:48] #4513 closed

[2022-08-28 08:59] cmoscosoz commented on #2266
I'm using NVM and I installed Astro globally (npm install -g astro) and then I've being using astro add, astro build etc.

[2022-08-28 11:23] JuanM04 commented on #4470
@marcosmartini when I built the example it was there 🤔. Beware that Chrome and other browsers modify the looks of the HTML in their dev tools. Could check out the output generated by `astro build`?

[2022-08-28 11:23] #4433 closed

[2022-08-28 13:16] JamesAlexanderHill opened #4521 "Unable to import built CSS as a file reference"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I want to lazy import a css file and need a reference to the built CSS. (I am using the tailwind integration but this isnt specific to tailwind)

Currently I can get the css a

[2022-08-28 14:15] agamm opened #4522 "npm create astro: command not found (WSL)"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Windows WSL2 Ubuntu

### Describe the Bug

I created a new Astro project by:
`npm create astro@latest`

Then after going into the directory and running `astro add react` I get:

### Link to Minimal Reprod

[2022-08-28 14:18] agamm commented on #4522
It was because I renamed the directory after the fact.

[2022-08-28 15:03] agamm commented on #4522
I verified by trying to create a new project again.

[2022-08-28 16:19] Jelenkee commented on #4522
Why do you use `astro add react`?
The [Docs](https://docs.astro.build/en/guides/integrations-guide/react/) say to use `npm run astro add react` instead.

[2022-08-28 16:36] agamm commented on #4522
I saw this in the docs (`astro dev`)
![image](https://user-images.githubusercontent.com/1269911/187084770-b79283e4-70b4-438b-95e2-1c986b87e4dd.png)

Same problem there. This is the docs URL: https://docs.astro.build/en/install/auto/

[2022-08-28 20:08] FredKSchott commented on #3639
Thanks @Princesseuh!! bumping up the priority again given the recent reports. Also, assigning @bluwy who may have a bit more familiarity with this part of the codebase (cc @matthewp as well!)

[2022-08-28 20:33] sellingsolutions commented on #4516
@DerYeger Thank you!! I added your changes to my stackblitz link and it works like a charm

[2022-08-28 20:33] #4516 closed

[2022-08-28 21:36] kavalerov commented on #3844
@kleemeo Thank you so much... I've just spent days trying to understand what is happening and missed this part of Astro-Tailwind docs - and now it is all working. Thanks

[2022-08-28 21:45] obj-obj commented on #4395
If I'm debugging this myself where would I start? I can't find the code that handles `?url` stuff...

[2022-08-28 22:51] marcosmartini commented on #4470
Hey @JuanM04 - thank you very much! Yes, I can confirm the output in the build file is what it should be if we use `[](source.png)`.

Closing this one now, thank you again!

[2022-08-28 22:51] #4470 closed

[2022-08-29 03:13] Princesseuh commented on #4518
Fixed in https://github.com/withastro/astro/pull/4524

[2022-08-29 03:13] #4518 closed

[2022-08-29 05:32] jazoom commented on #4039
I can't get them working together in the latest versions

[code]

`yarn dev` works fine
`yarn build` seems to work

`yarn preview` gives this:
[code]
I can access the page at http://127.0.0.1:8788 but the SolidJS component doesn't load.

[2022-08-29 08:36] tanepiper commented on #4459
Had the same issue inside an MDX file where a component was marked as `client:load` but should be `client:only` - any time you tried to access the page it would chew up memory until it crashes.

If you then restart the server all pages are 404 (from the vite server 404 page, not the Astro rendered 404 page)

[2022-08-29 08:40] bluwy commented on #3639
I looked into this today and came with a similar fix at https://github.com/withastro/astro/commit/04e93d130d46640cf3cae5ab083783f7c7ae2442, which fixes the build issue with the repro.

#4263 have also added tests, but I also found that other symbols like 🚀  and `%` is making dev/build fail too. It seems to be some sourcemaps issue but I haven't dug too deep yet as it had also spent quite some time

[2022-08-29 09:02] bluwy commented on #4471
From the source you showed in the video, it does seem like it's using the updated code without `?.`, but I can't seem to find any syntax that would trigger the error you see. I think it might be a caching issue, otherwise I'm not sure what could be the reason.

[2022-08-29 09:37] OlshaMB opened #4528 "Missing "./dist/core/logger/core" export in "astro" package"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I was coding a list of posts and used console.log() to know more information about Markdown object. When I suddenly get this error message.
<img width="853" alt="Снимок экрана

[2022-08-29 09:44] OlshaMB commented on #4528
Sorry, I was wrong I have not seen that my IDE added this `import { log } from "astro/dist/core/logger/core";`

[2022-08-29 09:44] #4528 closed

[2022-08-29 10:39] ota-meshi commented on #4436
I think it may have been fixed in v1.0.9.

https://github.com/withastro/astro/pull/4469

[2022-08-29 12:19] matthewp commented on #4521
Hi @JamesAlexanderHill, this is not currently possible. All CSS that gets built and bundled by Astro is also inserted by Astro. There's not an ability to customize how it is inserted.

If you'd like to see such a feature I recommend starting an RFC discussion where we can talk about the problem and figure out a solution together: https://github.com/withastro/rfcs/discussions

In the meantime, if y

[2022-08-29 12:19] #4521 closed

[2022-08-29 13:11] WallaceSociety opened #4532 "CORS Error When Adding A Paperform Script"
### What version of `astro` are you using?

1.01

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows  - WSL

### Describe the Bug

Probably not the best title, but as I'm not really sure what's happening under the hood I figured I'll start with the output and then can rename it to the specific p

[2022-08-29 13:21] brycewray opened #4533 "Call stack errors when Astro component props are changed repeatedly in MDX files"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

macOS 12.5.1

### Describe the Bug

Repeatedly editing the props supplied to an Astro (`.astro`) component imported into an MDX file causes a “maximum call stack size exceeded” error, often regarding `S

[2022-08-29 13:29] jasikpark commented on #4533
I'll test out https://stackblitz.com/github/brycewray/astro-site/

[2022-08-29 13:32] jasikpark commented on #4533
Not able to see a reproduction of the bug in https://stackblitz.com/github/brycewray/astro-site/?file=README.md

[2022-08-29 13:34] jasikpark commented on #4533
Seeing if https://codesandbox.io/s/github/brycewray/astro-site is different

[2022-08-29 14:26] jasikpark commented on #4533
repro screenshot:

![image](https://user-images.githubusercontent.com/10626596/187224467-13c02063-fbd6-453d-9c79-4e9394694b22.png)

open the tweet-test.mdx post and trigger HMR at least 9-10 times by editing the STweet props and saving until you see the String.replace or module resolve stack overflow

[2022-08-29 14:55] GeoBrodas opened #4536 "Astro Image component does'nt work in production in Vercel"
### What version of `astro` are you using?

1.0.9

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

The Image component seems to work perfect in development, but doesn't work in production when deployed on Vercel. I had to rever back to the normal `<img />` tag for the i

[2022-08-29 15:16] bluwy commented on #4476
It does seem like the styles are duplicated, currently investigating this down. But my hunch fix is that we should  selectively remove css during the static build.

Can you elaborate on what "placeholder" means here? It looks like `index.[hash].css` will take higher precedence over `A.[hash].css`, so it should still render fine.

[2022-08-29 15:19] claytercek opened #4537 "`astro check` reporting error when template contains any element immediately followed by conditional jsx"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

If a component contains any elements immediately followed by conditional jsx, running `astro check` will throw an error when importing that component.

In the linked codesand

[2022-08-29 15:33] jasikpark commented on #4533
well, it's still a direct astro feature, right? so it deserves issues for both projects 🤷

[2022-08-29 15:37] velvetkevorkian opened #4538 "Accented characters in markdown frontmatter get mangled when imported"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Ubuntu 16.04 in WSL2

### Describe the Bug

Accented characters in Markdown frontmatter get mangled in some cases. For example, this markdown file renders correctly as `àáâäå`
[code]
 but when we import

[2022-08-29 15:40] moritzlaube opened #4539 "Sitemap integration missing trailing slashes"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Not sure, if it is a bug or a config issue: When using the sitemap integration, up until now the URL-paths were exported with a trailing slash like `https://my-domain.com/page

[2022-08-29 16:00] Jelenkee commented on #4476
[Here](https://github.com/unocss/unocss/blob/c2cdbd2fa75fb2bc21734b99805229eb7d52abb0/packages/vite/src/modes/global/build.ts#L185) you can see that some placeholders are replaced. When the placeholders are missing, the build fails (Line 197). And for this example the placholders are added to `index.123123.css` only. Not for `A.123123.css`.

I created an issue for UnoCSS too.
https://github.com/un

[2022-08-29 18:06] #4465 closed

[2022-08-29 18:24] FredKSchott opened #4541 "🏆 DX WEEK"
## Action Items: Day 1 (Brynn Stream)
https://www.twitch.tv/videos/1575481405

- [x] Tailwind should be a peer dep of the tailwind integration
- [x] [@bholmesdev] **BUG:** deleting a style tag killed the server! ~2:49:00
- [x] **BUG:** weird error message in the browser when style has an issue: `?style=X` etc. `~2:49:00`
   - [@matthewp] Spent a while trying to recreate but could not
- [x] [@bholm

[2022-08-29 18:54] aFuzzyBear opened #4542 "Tailwind should be a peer dep of the tailwind integration"
### What version of `astro` are you using?

latest

### Are you using an SSR adapter? If so, which one?

n/a

### What package manager are you using?

pnpm

### What operating system are you using?

Linux

### Describe the Bug

Tailwind Integration does not include tailwind as a peer dep

### Link to Minimal Reproducible Example

n/a

### Participation

- [X] I am willing to submit a pull request

[2022-08-29 19:42] aFuzzyBear commented on #4541
Tailwind integration has been updated :  #4543

[2022-08-29 19:47] bholmesdev commented on #4178
@Bobakanoosh glad to hear it! I'll close this thread first thing tomorrow if I don't see any follow-ups.

[2022-08-29 20:04] Jutanium commented on #4541
Quick starter template action items: #4544

[2022-08-29 20:08] altano opened #4545 "Can't return image from non-html route"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

I'm trying to return a PNG buffer from a non-html route in SSG mode. Due to [this line of code](https://github.com/withastro/astro/blob/1222ab9540d17e4e7e811240b8a2a039acc33

[2022-08-29 20:10] altano commented on #4545
NOTE: If I change [the referenced line](https://github.com/withastro/astro/blob/main/packages/astro/src/core/build/generate.ts#L391) to use binary encoding my image is written to disk correctly:

[code]

So I believe we need a facility for specifying what we are returning from the route. A filename and `string` body param are not enough to produce the correct file.

[2022-08-29 20:14] FredKSchott commented on #4541
Update: I added a few more unchecked boxes from an old examples audit to this list. FYI they may be out of date and can be closed / checked off by just confirming!

[2022-08-29 20:42] tony-sull commented on #4536
@GeoBrodas are you seeing this issue in a static build, or are you using the `@astrojs/vercel` integration for server-side rendering?

Any chance you have access to build errors or anything that may help us narrow this down as well?

[2022-08-29 20:46] Jutanium commented on #4541
@FredKSchott the only template that still uses sass is the portfolio template. But it also has another problem: It uses Preact for components that could be made using `.astro`!

Should I:
1. Just migrate sass to CSS for this PR
2. Both remove sass and Preact for this PR
3. Leave it alone (as there may have been talk of revising this template from the ground up?)

[2022-08-29 20:50] eastcoasting commented on #4276
Can confirm this is fixed in prod - glad to see the keys at the end are also hashed. Thanks!

[2022-08-29 20:50] #4276 closed

[2022-08-29 20:55] matthewp commented on #4377
Vite internal plugin injects `?used` during the build, so your plugin needs to account for that in your regex checking. See https://github.com/vitejs/vite/blob/21515f167b2adf3a1574a13fd1f9e5dbae06c314/packages/vite/src/node/plugins/importAnalysisBuild.ts#L308-L324

[2022-08-29 20:55] #4377 closed

[2022-08-29 21:02] FredKSchott commented on #4541
1 & 2 both sound good to me! As a reviewer, these should be okay to combine into a single PR so no issue there from me.

[2022-08-29 21:58] kevinzunigacuellar opened #4547 "canonicalUrl doesn't match in dev and prod"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When making a canonical URL:
[code]

**dev server** will output a URL without a trailing slash
[code]

while **build** will generate a URL with trailing slash
[code]

### Link

[2022-08-29 22:34] kevinzunigacuellar commented on #4539
a config option `trailingSlash?: boolean` would be awesome!

[2022-08-29 23:33] cj commented on #4491
@fandy I think you're looking for `client:only="react"` https://docs.astro.build/en/reference/directives-reference/#clientonly

[2022-08-30 01:45] MoustaphaDev commented on #4547
This is expected. In dev mode the url trailing slash handling is forgiving [by default](https://docs.astro.build/en/reference/configuration-reference/#trailingslash). However, at build time trailing slashes are added [by default](https://docs.astro.build/en/reference/configuration-reference/#buildformat)

[2022-08-30 02:11] fandy commented on #4491
Ah sorry I made a typo I am actually using `client:only="react"` and got that error.

Using @bluwy's solution of using `Astro.url` did fix the hydration issue, but then breaks on `astro build` (development works though!)

I get this error:

[code]

I can fix the build (but break hydration) with an SSR escape in the component:

[code]

[2022-08-30 02:26] kevinzunigacuellar commented on #4547
I see I was expecting both dev and prod to match. Also, I just realized that the Astro.url already contains the pathname and the site so the canonical URL can be written as

[code]

or even just

[code]

Thank you I am not quite sure if this is an issue now 😅 but I think it would be a better DX to match outputs both in dev and prod. Feel free to close this issue.

[2022-08-30 02:30] ChristineTham commented on #4436
Not for me. The issue is the generated img url does not include `base`

[2022-08-30 03:03] MoustaphaDev commented on #4522
`astro dev` assumes that you're executing it with a package runner, for example `npx`

[2022-08-30 04:22] GeoBrodas commented on #4536
No No, I'm seeing this is in the Static Build. I don't think there's any build errors, but let me take a look

[2022-08-30 05:45] wiverson commented on #4536
FYI I am seeing similar. Using Astrowind template. Trying to write a list of posts and no matter what I do I can't get the images to display.

https://gist.github.com/wiverson/ae5dbbc7db465632e093c41928f613c7

[2022-08-30 05:45] wiverson commented on #4536
Everything works fine locally and fails when I try to deploy to Vercel.

[2022-08-30 07:41] bluwy commented on #4491
@fandy would you be able to give a minimal repro for that error? Googling it gave me https://stackoverflow.com/questions/34130539/uncaught-error-invariant-violation-element-type-is-invalid-expected-a-string, perhaps something similar is happening on your end. Otherwise It think the original issue is resolved by using `Astro.url` to prevent hydration mismatches.

[2022-08-30 07:43] altano commented on #4545
Possible alternatives:

1. Let the `body` be `string | Buffer` instead of `string`. When writing a `Buffer`, `fs.writeFile` ignores the encoding option.

[2022-08-30 07:45] bluwy commented on #4547
I think this is expected at the meantime as showed by @MoustaphaDev. For context, this change was made in https://github.com/withastro/astro/pull/4352, and the reason it's not made consistent in dev is to prevent a breaking change. It's certainly something we can align in the future, but for now it's something to keep in mind. Closing the issue for now.

[2022-08-30 07:45] #4547 closed

[2022-08-30 08:38] odwrotnie opened #4550 "ApolloClient cant fetch data"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I have followed simple steps from https://www.apollographql.com/docs/react/get-started:

[code]

and after running I got `Loading...` while on raw React project the behaviour

[2022-08-30 09:30] kingroho commented on #4376
I'm getting this error too. Vercel and Cloudflare adapters seem to be working fine.

[2022-08-30 12:05] MoustaphaDev commented on #4550
Astro doesn't ship javascript by default, so you need to use `client:*` directives to make your components interactive
You can learn more here  https://docs.astro.build/en/reference/directives-reference/#client-directives

[2022-08-30 12:13] MoustaphaDev commented on #4538
This seems like an issue with `gray-matter`, I'm gonna investigate if someone isn't faster than me

[2022-08-30 12:29] matthewp commented on #4128
Astro does not modify your HTML. If your script tags need a base you need to add it to the tag yourself, just directly write:

[code]

This should work in dev and prod, if it doesn't let me know.

[2022-08-30 12:32] matthewp commented on #4539
Thanks!

[2022-08-30 12:43] panwauu commented on #4461
I am encountering the same issue on Windows with astro v1.1.1 and @astrojs/image v0.3.6. I cant reproduce it on another machine sadly.
[code]

[2022-08-30 12:53] MoustaphaDev commented on #4538
You need to set the encoding of your html document with `<meta charset="UTF-8" />` on the head of the index page
Learn more on [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta#attr-charset)

[2022-08-30 14:00] bluwy commented on #4476
Thanks! I've chatted with Matthew and discussed some ways to circumvent this. It also feels like the unocss one is a slightly different issue, does it happen if you use `client:only="svelte"` too? (`client:only` doesn't have duplicated css, but it has two css files). If so it'd be great if you can extend the repro to showcase it too, in case it's an astro bug.

[2022-08-30 14:13] odwrotnie commented on #4550
It works!

[2022-08-30 14:13] #4550 closed

[2022-08-30 15:45] #4539 closed

[2022-08-30 16:15] wiverson commented on #4536
High level repro steps:

1. Clone off the Astrowind template as a starting point.
2. Modify the [HighlightedPosts.astro](https://gist.github.com/wiverson/ae5dbbc7db465632e093c41928f613c7), along the lines of this gist - basically, just grabbing the Markdown posts with Astro.glob. Note that the Astrowind template uses image URLs from the frontmatter.
3. You can access and display the URLs from the

[2022-08-30 16:52] snorreks opened #4554 "Error [ERR_MODULE_NOT_FOUND]: Cannot find package '@astrojs/vercel' imported from /var/task/entry.js"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

@astrojs/vercel

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

https://mailvideo-share.vercel.app
https://mailvideo-share.vercel.app/test

When i push to my repo, vercel manages to deploy. But when i access the site I get

[2022-08-30 17:11] wiverson commented on #4536
One more bit of info:

This works:
[code]

But this...

[code]

Fails horribly, even though post.frontmatter.url is a string that is the same value as the colors.jpg above.

[code]

[2022-08-30 17:37] prototypa commented on #4536
Hi @wiverson
Sorry, it's not a problem with the Picture component of @astrojs/images

In the template that you are using, that component is replaced (due to the need for some changes) and it still has bugs.
If you use the official @astrojs/image component that problem should not occur.

[2022-08-30 19:21] bholmesdev commented on #4178
Closing! I'll reopen if anything is discovered. Thanks y'all 🙏

[2022-08-30 19:21] #4178 closed

[2022-08-30 19:46] matthewp commented on #4554
A couple of odd things going on here,

- `"@astrojs/vercel": "../../../node_modules/@astrojs/vercel"` in your devDependencies, why?
- I'm not sure what viteCommonjs is but the vercel adapter is ESM and shouldn't need this.

Please submit a reduced example if you think there is a bug.

[2022-08-30 19:46] #4554 closed

[2022-08-30 20:15] matthewp commented on #4532
Hey @WallaceSociety, regular scripts get compiled into modules and that's why you're seeing a CORS error here. You want to use `<script is:inline src="https://paperform.co/__embed.min.js"></script>` instead.

See https://docs.astro.build/en/reference/directives-reference/#isinline

[2022-08-30 20:15] #4532 closed

[2022-08-30 20:32] victorkane commented on #4541
`astro.new` When I click on `Open in gitpod` button for any example, instead of a cool online instance experience and then some (more like IDE than Stackblitz and CodeSandbox) what gets put in the window is the document root of the repo and example fails to run.

[code]

I can then `cd` to appropriate directory (not exactly a friendly experience for newbie) and do `npm i` manually, but that fails.

[2022-08-30 20:40] matthewp commented on #4400
I think the issue here is that the styles are not defined on the element if is a variable. This is probably an issue in the runtime.

[2022-08-30 20:42] matthewp commented on #4395
If you use `?url` or `?raw` those things are not going to be built. Vite's CSS builds and bundles all CSS together into bundles and using `?url` for an import that gets bundled with other stuff isn't what you really want. `?url` is for things that aren't built/bundled.

[2022-08-30 20:43] matthewp commented on #4395
Woops, accidentally closed. We might be able to add a warning for this.

[2022-08-30 20:53] matthewp commented on #4395
Here's the upstream discussion on this in Vite, so let's track this there: https://github.com/vitejs/vite/issues/2522

[2022-08-30 20:53] #4395 closed

[2022-08-30 20:54] matthewp commented on #4128
Going to go ahead and close this, but happy to continue chatting here.

[2022-08-30 20:54] #4128 closed

[2022-08-30 20:58] matthewp commented on #3589
Sorry for taking so long to respond. Just checked with the latest version and it's now passing! https://stackblitz.com/edit/github-2zg3f6-texgrr?file=package.json

[2022-08-30 20:58] #3589 closed

[2022-08-30 21:01] matthewp commented on #3199
Appears to still be happening: https://stackblitz.com/edit/github-fwoavp-hrx2y2?file=package.json

[2022-08-30 21:21] velvetkevorkian commented on #4538
Oh good spot, that does seem to correct the issue. I feel like there is still something funny going on, as if you take out the charset tag the encoding is not consistent between pages, but shouldn't really be a problem in most cases. Thanks.

[2022-08-30 22:40] zicklag opened #4560 "Deno Backend Doesn't Render Custom 404 Pages"
### What version of `astro` are you using?

v1.0.6

### Are you using an SSR adapter? If so, which one?

Deno

### What package manager are you using?

yarn

### What operating system are you using?

Linux: Pop!_OS ( Ubuntu ) 20.04

### Describe the Bug

I've provided a custom 404 page in 404.astro and while it works properly when running `astro dev` with the Deno SSR adapter, it fails to render t

[2022-08-30 22:41] zicklag commented on #4560
Due to network restrictions on my side, I cannot use the web sandbox code editors and had to push a GitHub repo for a minimal reproducible example. It is extremely simple. All I do is add a custom 404 page and install the deno adapter according to the docs.

[2022-08-30 23:06] jeffwinegar commented on #4436
I bumped the original minimal reproducible example [https://github.com/jeffwinegar/astro-asset-routing-test](https://github.com/jeffwinegar/astro-asset-routing-test) to astro 1.1.2 and @astrojs/image 0.3.7 and ran a new test. I can confirm that these latest versions do not fix the issue. I haven't had the opportunity to help find a fix but would be willing to help where I can if anyone has a good

[2022-08-30 23:51] jazoom opened #4561 "server error on unhandled routes with no way to actually handle them"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

Cloudflare

### What package manager are you using?

yarn

### What operating system are you using?

Linux

### Describe the Bug

I'm setting up an API in `/pages/api`

I have a catch-all route at `/pages/api/[...404].ts` with content:

[code]

As far as I can tell, there's no way to have an `an

[2022-08-30 23:55] jazoom commented on #4561
Possibly the best way to handle this is making unimplemented methods fall through to the catch-all route since there was no handler defined in the file with the higher specificity filename?

[2022-08-31 00:03] sarah11918 commented on #4541
Ooh, this shouldn't happen @victorkane! There was an issue, but we recently fixed it. I wonder whether something *else* changed in Astro to cause this.

One problem we have in general is that Gitpod right now can only open the entire monorepo. So, we worked with them to create a script that would `cd` you automatically to one particular starter template's root, and then run that starter only. BUT,

[2022-08-31 00:04] zicklag commented on #4560
Found the issue and I'm working on a PR.

[2022-08-31 00:10] zicklag commented on #4560
Fixed it! :tada: https://github.com/withastro/astro/issues/4560

[2022-08-31 00:29] nomorejalapenos commented on #3681
this is the last thing that keeps me from fully enjoying astro

[2022-08-31 02:52] WallaceSociety commented on #4532
That makes sense. Thank you.

[2022-08-31 04:32] FredKSchott commented on #3681
Bumping this up to urgent to make sure this gets looked at. Thanks everyone who has reported this so far

[2022-08-31 05:35] wattanakorn495 opened #4563 "CSS fallback not working"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I try to set height of the div with css class below
[code]
these classes do not work, it seem like astro ignore app-webkit and app-moz
[code]

i also try this class but it do

[2022-08-31 06:59] smth opened #4564 "Client-side JS in unused Astro components"
### What version of `astro` are you using?

1.1.2

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

If you import an Astro component, but due to some logic in the template, do not use it, the client-side JS from that component is still included. For example you have a templa

[2022-08-31 07:18] callumflack commented on #4411
Ps. The image files need to be imported from `/src` rather than `/public` — as per [this comment](https://github.com/withastro/astro/issues/4349#issuecomment-1222382506).

[2022-08-31 08:26] ChristineTham opened #4565 "@astrojs/image does not bundle original image, only the transformed one"
### What version of `astro` are you using?

1.1.2

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

The `<Image/>` and `<Picture/>` components uses a custom vite plugin to generate `ImageMetadata` - the src attribute is not the same as vite's default imported static asset u

[2022-08-31 08:49] KNighD commented on #3222
Is there any reason why `base` just not doing the same thing just like vite, or is there something alternative? I'd like deploy my bunled static assests to cdn, while html on my own server, but now I just can not do this

[2022-08-31 09:44] snorreks opened #4567 "Vercel is not working in a monorepo"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

@astrojs/vercel

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

When vercel has deployed I get

[code]
<details>
  <summary>Vercel Build log</summary>

[code]
</details>

when i access the site https://astro-monorepo-vercel.

[2022-08-31 09:45] joe-bell opened #4568 "@astro/image errors "require is not defined" in local development"
### What version of `astro` are you using?

1.1.2

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

Hey friends! Appreciate the work you're doing at Astro – I've been having a blast using it for the last few days

I've been recently building an Astro example for plaiceholde

[2022-08-31 09:51] vlyamzin opened #4569 "Lit component loses it's property state"
### What version of `astro` are you using?

1.1.2

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Lit component loses a property state when provided from the outside. The initial state is being rendered correctly though.

Compare pure Lit solution on [stackblitz](https://sta

[2022-08-31 10:48] victorkane commented on #4541
Super cool! Not a problem for me, individually, I'm simply trying to reflect a question of DX. I think that part of the problem is that while the noble goal of Astro being a fifth dimension that permeates "all the things", as we spread out from a basic SSG tool with a fantastic Astro component JSX-like experience, to, I can then import UI frameworks, to, I can use Astro for anything, there is a co

[2022-08-31 13:05] bluwy commented on #4461
@panwauu did you get errors when installing sharp too? The sharp [docs](https://sharp.pixelplumbing.com/install#common-problems) may have some solution. Otherwise I'm curious if a full re-install of node_modules would also fix it.

[2022-08-31 13:05] matthewp commented on #4231
It should be:

[code]

Closing for now, let me know if you still have an issue and we can reopen.

[2022-08-31 13:05] #4231 closed

[2022-08-31 13:43] shaal commented on #4541
Hi @victorkane 👋  I think I remember you from the Drupal community :)

@sarah11918 I'm looking into it.
`pnpm` version should be something that gets updated when the custom docker image gets rebuilt, for some reason it doesn't get a new version. I'll keep you updated

[2022-08-31 14:15] shaal commented on #4541
@sarah11918 PR for temporary workaround is ready - https://github.com/withastro/astro/pull/4571

[2022-08-31 14:47] sanskar-mk2 opened #4572 "🐛 BUG: `@astrojs/compiler` panic when import.meta.env is imported before other import"
### What version of `astro` are you using?

latest stable

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

`@astrojs/compiler` encountered an unrecoverable error when compiling the following file.

**C:/Users/sohma_w4/bug-reproduce/src/pages/index.astro**
[code]

When u

[2022-08-31 15:07] #4476 closed

[2022-08-31 16:19] joaosantos99 commented on #4103
Can I work on this issue?

[2022-08-31 16:34] shaal commented on #4541
@natemoo-re @sarah11918 PR #4571 is merged to `main`,
but I noticed https://astro.new/ opens workspaces that are in `latest` branch, which is failing because the changes in this PR are not in that branch.

[2022-08-31 16:50] dolbex opened #4573 "Dynamic components break with client:* directive"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

When referencing dynamic components the application bombs when trying to use client:* directives.

This works fine:

[code]
but this does not:
[code]

Notice the ```client:vi

[2022-08-31 17:07] natemoo-re commented on #4541
Thanks @shaal! I am tempted to cherry-pick this onto `latest`, but this should be fixed automatically when we do the next release.

[2022-08-31 18:26] matthewp commented on #4568
Thanks! I'll take a look at this.

[2022-08-31 18:51] matthewp commented on #4568
@tony-sull, setting `image-size` and `tiny-glob` to `external` fixes this problem. Should the integration be configuring this?

[2022-08-31 20:11] #4560 closed

[2022-08-31 20:14] matthewp commented on #4573
We discussed this on Discord, it's a technical limitation of how Astro works. See https://discord.com/channels/830184174198718474/983479293319450624/1014575218024534147

[2022-08-31 20:14] #4573 closed

[2022-08-31 20:44] matthewp commented on #4568
@joe-bell in the meantime you can set these as external in your own config which seemed to resolve it in my testing:

[code]

[2022-08-31 21:19] markpinero opened #4580 "Custom scoped CSS namespace ignores CSS in older browsers"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

Regarding the [scoped CSS proposal](https://github.com/withastro/rfcs/blob/main/proposals/0012-scoped-css-with-preserved-specificity.md), it's described that the drawbacks ar

[2022-09-01 00:07] rwwagner90 opened #4581 "Getting frontmatter from custom remarkPlugins"
### What version of `astro` are you using?

1.0.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

It seems frontmatter is empty when defining `remarkPlugins`.

Setting arbitrary frontmatter is easy with remarkPlugins, but there seems to be no way to get existing frontmatt

[2022-09-01 00:14] ChristineTham commented on #4565
Hi - @astrojs/image release 0.4.0 fixes this issue for me, as the original image is now bundled and link is available via import. Thank you - I will close the issue.

[2022-09-01 00:14] #4565 closed

[2022-09-01 00:15] ChristineTham commented on #4436
This appears fixed in @astrojs/image release 0.4.0, so I recommend the issue can be closed.

[2022-09-01 00:26] tronicboy1 commented on #4424
I ran into the same issue of assuming that you _can_ add Event Listeners in .astro, until reading this issue!

I agree with @Jutanium I think because `.astro` syntax is very similar to React like JSX frameworks, we assume that you can add Event Listeners.

Maybe it may be nice to add this (that all objects are stringified) to the Documents for `.astro` components? Excuse me if it's already in ther

[2022-09-01 00:32] ChristineTham opened #4582 "@astrojs/image does not like image paths with spaces in them"
### What version of `astro` are you using?

1.1.13

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

@astrojs/image release 0.4.0 fails during build if image pathname contains spaces. Works in dev.

Error:
[code]

### Link to Minimal Reproducible Example

https://stackblitz

[2022-09-01 00:48] joe-bell commented on #4568
@matthewp that works a charm in the meantime, thank you!

[2022-09-01 01:30] jeffwinegar commented on #4436
Just ran a new test myself and I can confirm that @astrojs/image 0.4.0 fixes this issue for me.

[2022-09-01 06:47] jon301 opened #4583 "Console warning when using `<script>` with an expression in the `src` attribute"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

Given the following `.astro` file:

[code]

I get the following warning in the console:

[code]

Note: This warning does not appear in the stackblitz repro below ... It only

[2022-09-01 08:28] panwauu commented on #4461
@bluwy: I tried without success:
- `npm ci`
- delete all node_modules and then `npm install`
- New project: `npm create astro@latest` (dev worked) then I added `npm run astro add image` and the same error occured

I tried `npm install sharp` and did not have any problems during the installation. We will try to reinstall node completely and see if the problem persists.

[2022-09-01 09:49] join2nk commented on #899
---
title = cannot get astro app to run on docker even after adding hostname settings in astro cofig file

---

<h3> cannot get astro app run on docker </h3>

br

[2022-09-01 12:18] matthewp commented on #4568
Ah, yes, anything that is external needs to be hoisted. I don't know if your monorepo setup allows hoisted all of that example project or not, if so that would avoid needing to individually hoist external packages.

[2022-09-01 13:48] matthewp commented on #4583
Hey @jon301, you want to use `<script is:inline src={...}>` which creates a regular script tag. Without the `is:inline` we try to bundle everything and can't do so for dynamic expressions (that's why you get the warning).

[2022-09-01 13:48] #4583 closed

[2022-09-01 15:24] silvio2402 opened #4587 "Styles aren't loaded when importing them from a `client:only` preact component in production mode"
### What version of `astro` are you using?

^1.1.2

### Are you using an SSR adapter? If so, which one?

None?

### What package manager are you using?

issue occurs at least with npm and pnpm

### What operating system are you using?

Windows, also doesn't work on Linux

### Describe the Bug

### Styles aren't loaded when importing them from a `client:only` preact component in production mode.
Th

[2022-09-01 16:00] matthewp commented on #4580
Thanks for bringing our attention to this. We made the decision to switch to using `:where` in an [RFC](https://github.com/withastro/rfcs/blob/main/proposals/0012-scoped-css-with-preserved-specificity.md) several months ago and switching before 1.0. Switching again would be a major breaking change and could not happen before 2.0.

If we're going to make such a large change it's going to have to go

[2022-09-01 16:00] #4580 closed

[2022-09-01 16:18] matthewp commented on #4564
This is how hoisted scripts work, they get hoisted to the `<head>`. If we waited until we knew they were going to be used then they would not be in the head and would be somewhere in the body. So this is a known limitation, you can use `<script is:inline>` for truly dynamic scripts.

[2022-09-01 16:18] #4564 closed

[2022-09-01 16:23] matthewp commented on #4563
Seems to look right to me, what am I missing?

__Firefox__

<img width="989" alt="Firefox" src="https://user-images.githubusercontent.com/361671/187964343-8fdeae1e-3c2d-4c9e-b9ac-2551213c303e.png">

__Safari__

<img width="977" alt="Safari" src="https://user-images.githubusercontent.com/361671/187964425-a93679af-ef70-498a-8e18-3fe3b784e323.png">

[2022-09-01 16:26] matthewp commented on #4561
I think I understand what you mean. You are expecting `POST /api/healthCheck` to be picked up by the 404 handler. That does make sense to me. I'll look into this.

[2022-09-01 16:27] matthewp commented on #4567
How is `nx` related to this problem?

[2022-09-01 17:09] toonddd opened #4590 "JSX import source goes wrong when using Astro with React + SolidJS + TypeScript"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Compiling an Astro site (live, with `astro dev`) that consumes React and SolidJS components written in TypeScript causes errors.

More specifically, it throws the following er

[2022-09-01 20:31] #4582 closed

[2022-09-01 20:54] bholmesdev commented on #4581
Ah, third request I've seen for this! Definitely think this is worth implementing. Will make a PR soon 👍

[2022-09-01 21:08] jazoom commented on #4561
Yep pretty much. I'd expect a 404 handler that can handle ALL requests that don't match another route.

[2022-09-01 21:24] #4291 closed

[2022-09-01 23:34] peterkrieg commented on #4389
Thanks @pomber   for your excellent work with code hike, it looks amazing!  I'm looking forward to trying it on astro, it feels like a really good fit for a content-focused framework like astro.

[2022-09-02 01:27] #4587 closed

[2022-09-02 02:22] Nauxscript commented on #3291
@AllanChain thx for your integration! when i got unocss hmr problem yesterday, i found this issue and use astro-uno, and its seem working well at that time, but this morning i start my project I get a error:

[code]

i am sorry I can't repoduce this error in online example,  if you  know what happend to this, plz let me know.

thank you so much!

[2022-09-02 06:25] panwauu commented on #4411
Should be fixed with the version 4.x in @astrojs/image. Can you confirm?

From the [Changelog](https://github.com/withastro/astro/blob/main/packages/integrations/image/CHANGELOG.md):
```Thanks [@tony-sull](https://github.com/tony-sull)! - <Image /> and <Picture /> now support using images in the /public directory 🎉```

[2022-09-02 08:58] bluwy commented on #4461
Thanks for trying out some different ways and reporting it here @panwauu. I'm not really sure what we can do here since it's only happening for a specific machine. You mentioned that it works on other machines, are they on Windows too?

[2022-09-02 10:14] daniel7912 commented on #4461
Sorry I've been away for the past week (tensorplc is my work account).

I set up a fresh astro app today, installed the image integration and ran 'npm run dev' without doing any other changes, same problem unfortunately. I also tried upgrading to node v18.8.0...I do use NVM, not sure if that could cause issues?

I uploaded the app to github including node_modules in case that helps - https://githu

[2022-09-02 10:36] daniel7912 commented on #4461
I tried repeating this on an older Macbook (2017, not M1). Everything seems to work OK, no errors when running 'npm run dev'.

So I tried copying the entire directory over to my M1 macbook and get a different error:

/Users/dan/Projects/cc/dev/astro/astro-test/node_modules/sharp/lib/sharp.js:34
  throw new Error(help.join('\n'));
        ^

Error:
Something went wrong installing the "sharp" module

[2022-09-02 13:39] isaced opened #4598 "[astro-rss] Could not resolve index.md"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None (local)

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

Here is my `src/pages` directory structure:

[code]

Here is my rss.xml.js file:

[code]

and error log:

[code]

I added a line of log output in this place, and foun

[2022-09-02 13:39] miklschmidt commented on #4220
Maybe this should be reopened since the fix was reverted, or is it tracked somewhere else?

[2022-09-02 15:19] X7md commented on #4598
I was having the same issue but with `mdx`, and I do this as workaround.

https://github.com/X7md/mushkhbat/blob/f34cce99e72e0c4cda8b262aa90ba00d88a8e8cd/src/pages/rss.xml.js#L2-L3

[2022-09-02 16:30] asla3 opened #4600 "Transform fails when the opening bracket of an interface is not on the same line as the `interface` keyword"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

I encountered this bug while declaring a `Props` interface that extended multiple interfaces. Because their names were long, prettier formatted it so the interface declarati

[2022-09-02 19:19] brycewray commented on #4533
Thought about what @jasikpark said above and decided he was right. Whether this is an edge case or something broader, it probably does need somebody to look at it when time allows.

[2022-09-02 19:21] jasikpark commented on #4533
Is there a vite repo issue to track w/ it?

[2022-09-02 19:22] brycewray commented on #4533
@jasikpark No. Actually didn’t think about that, especially after it never got any traction in the Vite Discord.

[2022-09-02 20:10] matthewp opened #4601 "BUG: JSX error is confusing when no renderer is installed (`Cannot read [0] of undefined`?)"

[2022-09-02 20:11] kollinmurphy opened #4602 "Solid components using an HTML table won't hydrate"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

When a Solid component is rendered inside of an HTML table tag, or when a Solid component renders an HTML table tag, that component won't hydrate at all.

### Link to Minima

[2022-09-02 20:21] JohnDaly commented on #4590
I think the problem is that when there is more than one JSX renderer configured, Astro attempts to detect the import source by:

1. Checking for `pragma` comments in the file
2. Checking for imports in the file

Heres the code where that happens:
https://github.com/withastro/astro/blob/7310e8a1780dff2ffb57f8a6cfd3d021d019f6b8/packages/astro/src/vite-plugin-jsx/index.ts#L204-L226

This breaks down

[2022-09-02 20:45] #4601 closed

[2022-09-02 20:49] JohnDaly commented on #4602
For the case of the `Table.tsx` component, you get the following error:

[code]

Updating the `Table.tsx` component like this will fix the problem:
[code]

[2022-09-03 12:28] snorreks commented on #4567
Sorry, this is not specifically nx problem but monorepo in general. I have updated the description and created a new github example without nx and I still get the same error.

[2022-09-03 13:05] jtomek commented on #3373
Vite import has certain [limitations](https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars#limitations). One of them is that that dynamic imports must end with a file extension.

[code]

Try passing only a variable without its extension. That worked for me. GL.

[2022-09-03 14:56] DevRSC commented on #4220
I still face this issue when using arrow functions. I hope they'll fix this issue

[2022-09-03 16:25] lukewatts opened #4609 "Astro build: Cannot find package 'react' imported from..."
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

When running `astro build` I get **Cannot find package 'react' imported from C:\\...\entry.mjs**

If I remove react adapter then it says cannot find html-escaper.

I have

[2022-09-03 18:37] lgastler commented on #4536
Facing the same issue using Netlify with SSR. Locally in `dev` and also build in `preview` everything works fine, but once deployed to Netlify using the SSR adapter the Images stop loading.

I created a minimal reproduction repo just using `@astrojs/image` and the `@astrojs/netlify` adapter.

[Reproduction Repo](https://github.com/lgastler/astro-image-ssr-reproduction)
[Deployed Site on Netlify](h

[2022-09-03 18:47] zaha opened #4610 "Named slots do not work in MDX sometimes"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

When the text for the default slot is not wrapped in a HTML tag (e.g. `<p>`) then the named slots' content is rendered in the default slots' location.

MyComponent.astro
[

[2022-09-03 20:07] agundermann opened #4613 "Dynamically imported CSS fails in production build (React, CSS Modules)"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

In the example I used React lazy + Suspense for code splitting, and CSS modules for styles, but I think this could also affect other UI libraries + CSS generators.

In bu

[2022-09-03 21:41] lukewatts commented on #4609
Seems to work if I change outDir to `./dist` or something inside the astro project. So is building to a different/external folder not supported?

[2022-09-03 22:44] lukewatts commented on #4609
Duplicate of #4006

[2022-09-03 23:33] kkarimi commented on #4567
I can reproduce - I am using in a mono repo with NX - Astro 1.1.5 and I have the same issue - though I don't think it has anything to do with NX either:

[code]

[2022-09-04 00:15] lukewatts opened #4614 "Tailwind core/reset file added after other css files in astro build"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

Tailwind CSS files in build are being added last (or second last), causing tailwind reset file to override scoped (in file) CSS.

To replicate...
1. install the Blog temp

[2022-09-04 00:25] #4609 closed

[2022-09-04 01:16] taoeffect commented on #4071
Hi, I couldn't get the integration to work with `.md` files, the links and embeds just disappear from the document. There is no embed and the tweets and youtube embed links are no longer there either. Yes, I did run with the special flag: `npm run dev --experimental-integrations`

Here's my `astro.config.mjs` file:

[code]

[2022-09-04 01:56] domchristie commented on #397
My workaround uses a combination of @phocks's alias idea, and a remark plugin:

**1. Create an alias to your layouts**
In `tsconfig.json` or `jsconfig.json` in the `compilerOptions` property:
[code]
(Ensure that `compilerOptions.baseUrl` is also set.)

**2. Inject `frontmatter.layout`**
The easiest way to play around with this is to create a remark plugin in `astro.config.mjs`. The simplest versio

[2022-09-04 02:03] altano opened #4615 "Astro hangs on invalid scss"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

linux / stackblitz

### Describe the Bug

Invalid SCSS causes Astro to hang in dev mode. The page will never finish loading. This SCSS (notice the lack of a closing parenthesis) causes the problem:

[co

[2022-09-04 03:40] nickisnoble commented on #3538
... so what is the preferred method of switching an existing project to Astro (eg, want to migrate on a `dev` branch of an existing repo).

Do I need to (annoyingly) start a whole separate project and manually pick through things?

[2022-09-04 04:17] pinanek23 opened #4616 "Preserving `meta` field of Astro MDX code block"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

I try to use a custom syntax highlighter with `markdown.syntaxHighlight = false`. The official MDX documentation suggests that [markdown supports a meta string for code](htt

[2022-09-04 04:46] duanwilliam opened #4617 "Astro transform fails on several forms of multiline exports"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

WSL2

### Describe the Bug

(Seems similar to the recently submitted #4600, but found independently and (I think) more accurate on reproduction / diagnosing the cause.)

Astro fails at parsing certain

[2022-09-04 04:57] midlantica opened #4618 "NPM run build issue with Vueperslides"
### What version of `astro` are you using?

latest

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Mac OS Big Sur 11.6.8

### Describe the Bug

`> npm run build

11:44:45 PM [build] output target: static
11:44:45 PM [build] Collecting build info...
11:44:45 PM [build] Completed in 577ms.
11:44:45 PM [

[2022-09-04 05:02] midlantica commented on #4618
Love Astro. I'm excited new work! I'm a bit of a junior.. maybe it's something simple, maybe it's a real issue? Just trying to finish a little job... but cannot build! Thanks.

[2022-09-04 05:35] duanwilliam opened #4619 "Astro transform fails under specific arrangement of comments and exports"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

WSL2

### Describe the Bug

Found while trying to comment the minimal reproduction for issue 4617, which I recently submitted.

The Astro transform fails under a certain set of conditions, where:
- one

[2022-09-04 08:43] #3639 closed

[2022-09-04 08:46] bluwy commented on #4220
It doesn't look like there's a separate issue, or is fixed with a different PR. Re-opening.

[2022-09-04 08:47] bluwy commented on #4396
I believe this is a duplicate of #4220. Closing in favor of it!

[2022-09-04 08:47] #4396 closed

[2022-09-04 08:54] zeshhaan commented on #4231
I still face the same issue (trying to deploy on cloudflare)

Repro at https://github.com/zeshhaan/accessads-astro-sanity/tree/main/my-astro-site

<img width="1116" alt="Screenshot 2022-09-04 at 2 23 13 PM" src="https://user-images.githubusercontent.com/34814964/188305572-4a280503-e8f4-4d05-b8b3-6eaaf47e569a.png">

[2022-09-04 09:50] Jamalahmad123 commented on #3043
I changes to my file by didn't fix the issue with it

[2022-09-04 19:15] stephenwil commented on #3449
Still getting tnis issue with latest (v1.0.2) astrojs and then adding preact integration

[2022-09-04 21:21] altano commented on #4321
Both fixes work fantastically, thanks! 🔥

[2022-09-04 23:02] delucis commented on #4071
Spent some time investigating what we can do here today.

## Looking for a quick fix?

Add `/@astro-community/` or a similar RegExp pattern to `vite.ssr.noExternal` in your Astro config file as suggested by @Remcoman above:

[code]

## More long-term solutions

### Background

Third-party packages that provide `.astro` files need to be processed by Vite. This is why adding them to `noExternal` fix

[2022-09-05 07:08] bluwy commented on #4461
You can't copy the entire directory including `node_modules` as `sharp` is a binary that's machine-specific, so you were likely copying an incompatible binary that's causing the error.

---

I'm not really sure what we can do here as this sounds like a machine specific issue. It might be quicker to find a solution in the `#support-threads` channel in Discord though. I'll close this one for now.

[2022-09-05 07:08] #4461 closed

[2022-09-05 07:34] toonddd commented on #4590
Thanks for the insight. Is this also the cause for the last 2 bullet points of this report?

Do you see value in having Astro read `jsxImportSource` from `tsconfig.json` like eg. Vite does?

[2022-09-05 08:38] lppoi opened #4624 "failed to load module for ssr"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

pnpm

### What operating system are you using?

windows

### Describe the Bug

![image](https://user-images.githubusercontent.com/64509267/188405442-21a1c25d-bb3a-4a29-a305-bec8ad3f59f7.png)

When a new project(blog template) is running, pnpm run de

[2022-09-05 09:29] bluwy commented on #4624
I think this is Vite bug, if you can provide a repro it would be appreciated to report this at https://github.com/vitejs/vite ! I saw some reports of this vague error before but can't reproduce it. Closing this one for now.

[2022-09-05 09:29] #4624 closed

[2022-09-05 09:57] beeb opened #4625 "@astrojs/image fails to convert black and transparent png to visible jpg image"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows WSL2

### Describe the Bug

@astrojs/image version: `0.5.0`

When trying to generate an optimized version of a transparent PNG image with black contents (for instance a logo) in a format that d

[2022-09-05 11:55] toonddd opened #4627 "@astrojs/solid-js style object undefined keys reach DOM style attribute"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Solid components, rendered through Astro with `@astrojs/solid-js`, result in style properties that are explicitly set to undefined to propagate to the DOM.

This deviates from

[2022-09-05 13:33] jaeh opened #4628 "npm run test errors"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm, pnpm

### What operating system are you using?

linux, debian

### Describe the Bug

tests are failing on my machine:
[code]

### 1. Part: `npm run test`

when running the tests they run fine until one of the test servers seems to close before

[2022-09-05 15:24] webcicle opened #4630 "Vercel Edge Adapter fails to deploy with Sanity integration enabled"
### What version of `astro` are you using?

^1.1.1

### Are you using an SSR adapter? If so, which one?

Vercel

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When activating SSR via Vercel edge, the build gives the following error

[code]

If I change it to a serverless function the deploy works. This issue is similar to #4391 b

[2022-09-05 16:33] ishanAhuja commented on #4416
Hi, just to clarify: would we access the variable as `process.env.SECRET` or `import.meta.env.VITE_WEBFLOW_API_KEY` in our code?

Thanks!

[2022-09-05 17:51] shishkin opened #4631 "Unable to `return` from SSR dynamic page"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

Vercel

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I have code like this inside my SSR (vercel adapter) page:

[code]

When I run it (`astro dev`) I get:

[code]

The error seems to stem from `esbuild`. If I remove `return`

[2022-09-05 18:05] zicklag commented on #4631
@shishkin I've run into this before, and I think the issue is that if you `return` you have to return a `Response`. Maybe you can `return Astro.response;` instead of just `return;`.

[2022-09-05 18:10] shishkin opened #4632 "import "node:assert" causes transform error"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

This page fails to render:

[code]

Error message:

[code]

### Link to Minimal Reproducible Example

https://stackblitz.com/edit/github-em18nv?file=src/pages/index.astro

#

[2022-09-05 20:21] JohnDaly commented on #4590
I believe so. All components whose `jsxImportSource` cannot be determined by pragma comment or imports will have this issue, when multiple JSX renderers are configured

Yeah, that seems like a reasonable behavior to me.

The Astro docs suggest that the `tsconfig.json` should be consulted for the default `jsxImportSource`, when there are multiple frameworks: https://github.com/withastro/docs/blob/8

[2022-09-05 22:26] OmarZeidan commented on #4220
Facing the same issue here! Any updates on this team?

<3

[2022-09-06 05:55] FredKSchott opened #4633 "Odd error message during development:"Internal Warning: route cache overwritten""
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

pnpm

### What operating system are you using?

mac

### Describe the Bug

As I was developing on astro.build, I saw this warning message every time I changed and saved an MDX blog file:

<img width="895" alt="Screen Shot 2022-09-05 at 10 15 39 PM"

[2022-09-06 05:59] FredKSchott opened #4634 "Misleading "Unable to render Content" warning on MDX error"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

pnpm

### What operating system are you using?

mac

### Describe the Bug

If I went into an MDX file and removed an import accidentally, I saw this error message. This message made no sense since there was no `Content` component or variable defined

[2022-09-06 06:13] shishkin commented on #4631
Thanks @zicklag! Indeed returning a new Response as described in https://docs.astro.build/en/guides/server-side-rendering/#response solved the issue!

I'll leave this issue open as I believe the error message can be improved here.

[2022-09-06 07:13] shishkin opened #4635 "Custom 404 page doesn't work in dynamic routes with Vercel"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

Vercel

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

I can't make a custom 404 page work on SSR Vercel in this dynamic routing setup:

[code]

The routing results are:

* /not-found => renders custom 404 page
* /items/not-fo

[2022-09-06 07:14] shishkin commented on #4631
Also found a related bug in https://github.com/withastro/astro/issues/4635

[2022-09-06 07:15] shishkin commented on #4164
There is still an issue with custom 404 pages on Vercel with dynamic routes: https://github.com/withastro/astro/issues/4635

[2022-09-06 08:22] safinea opened #4636 "astro build fails with space in path to project"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

I have my project in a folder that contains a space in the path. This poses no problem when developing (i.e. `npm run dev`), but causes a failure when trying to build the

[2022-09-06 12:30] matthewp commented on #4590
I think this might be a deeper problem. That error is coming from Vite which is pretty unexpected.

[2022-09-06 12:40] matthewp commented on #4602
A table row not hydrating is kind of expected, it's a limitation of how islands work as we have to create a wrapping element to do hydration.

The full table is a bit unexpected though. Can you create a Stackblitz that shows the problem?

[2022-09-06 12:59] matthewp commented on #4614
I think this is related to the general problem of scoped styles being placed before all imported styles, causing imported styles to override them.

[2022-09-06 13:19] simpleauthority opened #4637 "Dependency pre-bundling fails when importing into astro.config.mjs"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac 12.5.1

### Describe the Bug

Discord thread here: https://discord.com/channels/830184174198718474/1016598840373162044

When running `astro dev` and/or `astro build`, pre-bundling fails with the fo

[2022-09-06 13:42] AidanNichol opened #4638 "Inconsistency between dev and build with trailing slash"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

working with astro 1.1.5
[code]
with _astro dev_ this doesn't return a trailing '/' whereas _astro build_ does.

### Link to Minimal Reproducible Example

https://stackblitz.

[2022-09-06 13:58] matthewp commented on #4618
Does this work:

[code]

[2022-09-06 14:06] matthewp commented on #4618
Setting `noExternal` on this package fixes it. Unfortunately not every package is compatible with Node ESM is this is one of them:

[code]

This one has pretty high download numbers so I'm going to make it so we do this for you.

[2022-09-06 14:24] jkjustjoshing opened #4640 "Passing React children from Astro component doesn't work with client:load"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Stackblitz

### Describe the Bug

I'm able to pass children into a React component from an Astro component:
[code]

When I set `client:load` on the React component, the component SSG renders correctly,

[2022-09-06 14:25] matthewp commented on #4638
You want to use `trailingSlash: never` in order to control trailing slash behavior. By default it is set to `ignore` which means it will accept both in dev mode. In the build it can obviously only be one of the two and it defaults to including the trailing slash when using `build.format = 'directory'`.

[2022-09-06 14:25] #4638 closed

[2022-09-06 14:28] matthewp commented on #4628
Did you run the build before hand? `pnpm run build`

I don't normally run all tests at once as that takes a lot of time and is something that CI does for us. Unless CI is breaking or this specific test is failing them I'm not sure if there's anything actionable to do here. It might be flaky on your system. Would be curious if it passes when you run just that test.

[2022-09-06 14:32] matthewp commented on #4628
fwiw I just ran locally and all of the Astro tests passed. I think this is probably some flakiness or not knowing to run `pnpm run build`. As part of your workflow I recommend just running the tests you are working on in order to save time. You can do that like this: `pnpm --filter astro run test:match API`

Closing as I think there's nothing to be done about this.

[2022-09-06 14:33] matthewp commented on #4627
Is this a bug in Astro or in Solid itself? It feels like the latter.

[2022-09-06 14:37] matthewp commented on #4630
Have you tried setting `url` to external?

[code]

[2022-09-06 14:38] matthewp commented on #4630
If that works it might be something we should add to the Vercel adapter.

[2022-09-06 14:44] matthewp commented on #4635
This is tricky. If we were to route this back to the custom 404 page then someone could legitimately call that a bug too. Because they might have included a better error message and we would be erasing that by instead using 404.astro. I think we have to assume that if you return a Response from a page you want that to be the *actual response*.

That is to say, I can see both sides here. I would pr

[2022-09-06 14:44] #4635 closed

[2022-09-06 14:44] matthewp commented on #4631
Better error message would be good here for sure!

[2022-09-06 14:46] webcicle commented on #4630
I hadn't, but I just did, and unfortunately it gives me the same error then

[2022-09-06 14:48] matthewp commented on #4632
It seems not be caused by `"node:assert"` but rather just by naming an import `assert`. Here's where it still gets that error if you instead import a local module: https://stackblitz.com/edit/github-em18nv-cgrfj2?file=src%2Fpages%2Findex.astro,src%2Fassert.js

If you change the thing you are importing to `assert2` it works. Very odd.

[2022-09-06 15:11] #4618 closed

[2022-09-06 15:11] matthewp commented on #4618
Fixed in #4639

[2022-09-06 15:51] matthewp commented on #4563
Closing as I don't see an issue. Let me know if I've missed something.

[2022-09-06 15:51] #4563 closed

[2022-09-06 16:29] matthewp commented on #4613
Think I have a fix for this.

[2022-09-06 16:52] natemoo-re commented on #4332
I'm picking up the PR again which got closed as stale

[2022-09-06 17:04] #4071 closed

[2022-09-06 19:03] #4613 closed

[2022-09-06 19:05] taoeffect commented on #4071
@delucis Thank you for the reply and for the detailed explanation!

I think however I'm running into a separate issue, specially with the integration part of the `@asto-embed` plugin as described here: https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed#using-the-integration

So while using your "quickfix" above I get no error, I also get no functionality, still (read on

[2022-09-06 20:26] matthewp commented on #4640
You can't put a div inside of a p. That's what's causing your server/client mismatch. Working version removing the p and using div instead: https://stackblitz.com/edit/github-mwmoww-nxfbqj?file=src%2Fpages%2Findex.astro

[2022-09-06 20:26] #4640 closed

[2022-09-06 20:30] matthewp commented on #4636
@safinea I know you're saying that you cannot recreate in stackblitz, but can you provide a stackblitz example and then instructions on how to recreate it.

This is what I tried:

1. Downloading the stackblitz example locally.
2. Unzipping into a folder named "space in name"
3. Run `npm run build`

However in step (3) it succeeded. This tells me that you need more than regular example app to get t

[2022-09-06 20:46] tony-sull opened #4644 "[@astrojs/image] SSG build can break remote images without filename extensions in the URL"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

This came up in a [support thread](https://discord.com/channels/830184174198718474/1016461172301639700) in Discord

The user's project is using a remote image that doesn't ha

[2022-09-06 20:59] delucis commented on #4071
Hi @taoeffect — that's a sightly different issue concerning MDX support. Haven't done any work on `astro-embed` since Astro launched its MDX integration so the embed integration is still only targeting a legacy components in `.md` mode.

Would you mind opening an issue for MDX support in the astro-embed repo?

[2022-09-06 21:06] taoeffect commented on #4071
@delucis Perhaps I'm misunderstanding, but we're not using `.mdx` files in our blog.

These are regular `.md` files containing twitter and youtube links on their own lines that we'd like converted to embeds.

The README for the `astro-embed` project even contains an example:

[code]

This is exactly what we have too, but it doesn't work when using ` 'astro-embed/integration'`.

[2022-09-06 21:32] kollinmurphy commented on #4602
I didn't get that same error saying "The browser resolved template HTML does not match JSX input". But when I added the tbody tag it did work. Thanks!

Here's a Stackblitz with two tables, one with a tbody and and the other without one.

https://stackblitz.com/edit/withastro-astro-bbsjwn?file=src/pages/withTbody.astro

[2022-09-06 21:38] safinea commented on #4636
Hi,

I'll look into that tomorrow. My problem did occur with a Svelte component. Maybe that's the issue...?

I'll try and recreate something and get back to you.

Regards,
Marcel

⁣Sent from BlueMail ​

On Sep 6, 2022, 22:30, at 22:30, Matthew Phillips ***@***.***> wrote:
***@***.*** I know you're saying that you cannot recreate in stackblitz,

[2022-09-06 21:44] delucis commented on #4071
That integration was built for a previous version of Astro that supported components in `.md` files, so that's why it's not working for you. Either way, feel free to open issues on the `astro-embed` repo as I suspect discussion on this closed unrelated issue risks just getting lost.

[2022-09-07 00:22] hsensh opened #4648 "Script tag doesn't get processed by Astro if any attribute is present on it"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I followed the guide for importing scripts located inside the src/ folder and I tried the following:

`<script src="../example.js"></script>`

[code]

Both worked fine and go

[2022-09-07 00:49] hsensh opened #4650 "I can use imported static files in HTML but I can't use them in the client-side script tags"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I really don't know if it's a bug or if this is a way things are intended, but suppose I am using Alpine, and I want to fetch data X and pass it on to script tag so it can pr

[2022-09-07 00:52] agundermann commented on #4613
Thanks @matthewp !

[2022-09-07 01:45] SMEETT opened #4651 "BUG: TailwindCSS + Svelte: Hot Reload shows erratic behavior"
### What version of `astro` are you using?

v1.1.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Win 11 Enterprise (10.0.22000 Build 22000)

### Describe the Bug

### Tailwind Classes added to HTML-Elements are being ignored or are applied erratically (once Svelte is integrated)

Here are a few th

[2022-09-07 04:35] ahhshm opened #4652 "Error when using solid.js packages: web.template is not a function"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn classic

### What operating system are you using?

Linux

### Describe the Bug

When I want to use Solid.js packages that are using `@solid-primitives/props` package internally, like `@solid-aira/focus` and `@motionone/solid`, I get this error:

[2022-09-07 06:22] shishkin commented on #4632
Thanks @matthewp!

[2022-09-07 06:50] shishkin commented on #4635
Thanks @matthewp! Now I see how it is tricky. I agree that in general when a page returns a custom `Response` it probably shouldn't be changed.

[2022-09-07 09:42] SMEETT commented on #4651
I automated the process of restarting the dev-server after changes to `.svelte` files.
**Far** from being optimal but I can work at least. Here's what I did:
1. Installed the following VSC-Extension: [Save and Run](https://marketplace.visualstudio.com/items?itemName=wk-j.save-and-run)
2. Added the following to `settings.json`
[code]

Only one command can be run per entry, so I used two. The first

[2022-09-07 10:06] Enteleform opened #4654 "`.astro` function hooks throw error despite valid JS syntax"
### What version of `astro` are you using?

1.1.6

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

# Error
[code]

# Pages/Dynamic/[Route].astro
[code]

### Link to Minimal Reproducible Example

https://stackblitz.com/edit/github-4kp4qh?file=src%2Fpages%2FDynamic%2F[Route

[2022-09-07 10:18] aFuzzyBear commented on #4651
It both pains me to see this as a workaround, but amazed with the solution provided. Didnt know about the 'Save and Run' extension. Thank you for raising this issue with us @SMEETT

[2022-09-07 10:34] aFuzzyBear commented on #4651
Further information can be obtained from the corresponding support thread, https://discord.com/channels/830184174198718474/1016851598808453191

[2022-09-07 12:17] matthewp commented on #4648
Yep, this is on purpose! Astro only builds script tags without any attributes.

You don't need to add `defer`, we do that automatically for you. If you add any attributes it becomes equivalent of `is:inline`.

[2022-09-07 12:17] #4648 closed

[2022-09-07 12:21] hsensh commented on #4648
But the problem is it doesn't have the same behavior as when I put defer and reference it from the public directory. Alpine just doesn't load correctly.

`<script src="./script.js" defer></script>` referenced from public directory works
However, `<script src="./script.js"></script>` reference from src doesn't

And in the dist folder, the script is referenced with neither a defer attribute, nor asy

[2022-09-07 12:29] #4632 closed

[2022-09-07 12:31] matthewp commented on #4650
You can pass data into script tags using `define:vars`: https://docs.astro.build/en/reference/directives-reference/#definevars

For support questions the best place to go is our discord: https://discord.com/channels/830184174198718474/845451724738265138

[2022-09-07 12:31] #4650 closed

[2022-09-07 12:32] matthewp commented on #3014
This was fixed in a patch release!

[2022-09-07 12:32] #3014 closed

[2022-09-07 12:32] matthewp commented on #4059
Going to close, please open a new issue if you have a reproduction.

[2022-09-07 12:32] #4059 closed

[2022-09-07 12:35] matthewp commented on #3640
Sounds like you got everything resolved. Please open a new issue if there's a problem you experience on the latest Astro versions.

[2022-09-07 12:35] #3640 closed

[2022-09-07 12:35] matthewp commented on #3367
This issue is quite state and we didn't get a response, so closing. Please reopen if you are still having an issue in 1.0.

[2022-09-07 12:35] #3367 closed

[2022-09-07 12:36] matthewp commented on #4014
This issue is quite state and we didn't get a response, so closing. Please reopen if you are still having an issue in 1.0.

[2022-09-07 12:36] #4014 closed

[2022-09-07 12:36] matthewp commented on #4491
@fandy Are you able to give a reproduction?

[2022-09-07 12:38] fandy commented on #4491
Yeah you're right, I tried creating a reproduction but it looks like it's an issue with Radix UI's menu component. Using Astro.url fixes the hydration issue :)

[2022-09-07 12:38] #4491 closed

[2022-09-07 12:38] matthewp commented on #4654
Thanks, sounds like this is a compiler issue so moving to that repo.

[2022-09-07 12:43] matthewp commented on #4652
You likely need to use `noExternal` config because the package is not ESM.

[2022-09-07 12:46] #3575 closed

[2022-09-07 12:47] #3949 closed

[2022-09-07 12:52] #2350 closed

[2022-09-07 13:06] luwes opened #4658 "Docs Site - Table of contents highlight not working"
### What version of `astro` are you using?

1.1.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

We started using Astro for our [Media Chrome docs (PR)](https://github.com/muxinc/media-chrome/pull/292) and really like it so far!

One thing we noticed is that the table of

[2022-09-07 13:07] bholmesdev commented on #4309
@marceloverdijk Ah, was just asking myself this same question! It looks that PR allows numeric `params` when defining `getStaticPaths`, but does _not_ add numeric `param` support for file-based routing. I know Svelte introduced type guards for file-based params (in their old routing setup at least), so we could definitely support this in Astro as well.

I agree this half-support for numeric params

[2022-09-07 13:51] ahhshm commented on #4652
It's wired. adding the package to `noExternal` resolves the error in stackblitz but not in my local machine.

[2022-09-07 13:56] #4644 closed

[2022-09-07 14:11] dephiros commented on #4432
In https://github.com/solidjs/solid-styled-components/issues/27, I saw mentioning of running `extractCSS` or similar methods for css-in-js libs. Did anyone take a look in something similar?

[2022-09-07 14:22] tony-sull commented on #4309
I think the original motivation behind #3087 was to clean up a common pain point we were seeing in support threads at the time, there were a number of users trying to either use page numbers or dates in `getStaticPaths()` and getting bit by having to always `.toString()` the path params

The idea was to allow `getStaticPaths()` responses to include numbers since they'll just be stringified anyway,

[2022-09-07 14:24] tony-sull commented on #4309
[code]

Short term I think we should probably clean up this error message.  I wouldn't have expect this to log since `getStaticPaths` is documented to support strings and numbers

[2022-09-07 14:30] Coobaha commented on #4432
We are also evaluating Astro now for SSR at @rapidapi and this seems a huge blocker, since we rely on `emotion` in our ui lib

[2022-09-07 14:47] ahhshm commented on #4652
I'm closing this as it's not a bug but I will post updates for other people who get the same error.

[2022-09-07 16:34] FredKSchott commented on #4194
Closed by c0992e1

[2022-09-07 16:34] #4194 closed

[2022-09-07 16:51] matthewp commented on #4383
This is a compiler bug, fix submitted there.

[2022-09-07 17:13] silvio2402 commented on #4587
Hey @matthewp, I am still experiencing this same issue with my project using `astro v1.1.6`. Do I need to change anything except run `pnpm up` to apply the fix? How would I go about debugging/diagnosing the issue?
I would appreciate you taking a look at my project which is experiencing the issue: https://github.com/silvio2402/silviobraendle.ch
Thank you

[2022-09-07 17:22] #4625 closed

[2022-09-07 17:34] ahhshm commented on #4652
@matthewp Ok, it's not a problem with my setup. When I use `@solid-primitives/props` package directly, it works fine. But when another package (like `@solid-aria`) uses that internally, I get that error. I still can't tell the cause of the error as I know nothing about this stuff but it should be investigated.

[2022-09-07 17:45] thetarnav commented on #4652
Another example with `@motionone/solid` that also ships preserved jsx, and has a dependency to @solid-primitives/props
https://stackblitz.com/edit/github-7cxbsf-ewgmf1?file=astro.config.mjs&on=stackblitz

[2022-09-07 17:52] WallaceSociety opened #4660 "HMR Bug as discussed on discord"
### What version of `astro` are you using?

latest

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Windows  - WSL

### Describe the Bug

HMR Bug as discussed on discord with tony-sull

I've create a repo that reproduces it and he confirmed it is an issue.

### Link to Minimal Reproducible Example

htt

[2022-09-07 18:25] #4332 closed

[2022-09-07 18:33] dsprenkels opened #4661 "getFileInfo does not add `.html` extension in url when `build.format` is `file`"
### What version of `astro` are you using?

v1.1.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Linux

### Describe the Bug

When in `astro.config.mjs`, Astro is configured with `build.format` `'file'`, I expect the Astro pages that are output by `Astro.glob` to have URLs ending in `.html`. Howev

[2022-09-07 19:06] marceloverdijk commented on #4309
OK clear,

So with the current half-support I think I should use simply `string`'s.

This is what I have now:

[code]

The output in the page is an example btw ;-)

ps: the way I defined the type sage Params, is that the most straightforward way to do it? By extending `Record<string, string | number | undefined>`

[2022-09-07 19:10] bholmesdev commented on #4581
Marking as duplicate of this to track in one place #4429. Still on my todos!

[2022-09-07 19:10] #4581 closed

[2022-09-07 19:17] bholmesdev commented on #4309
@marceloverdijk That looks good to me! We'll clean up the logs so you _don't_ have to use `toString()` though. To clarify what I meant by "half support:"
- if you pass a number in `getStaticPaths` `params.year`, it should _still_ be a number when destructuring `Astro.params`. If not, that's a bug.
- if you created an **SSR dynamic route** like `[year].astro`, `year` will _always_ be a `string` (ev

[2022-09-07 19:45] marceloverdijk commented on #4309
@bholmesdev

Indeed the `toString()` is not needed.

This works as well:

[code]

The clean-up of the logs would be nice indeed

and I think I can change:

[code]

to

[code]

[2022-09-07 19:51] Cruebee opened #4663 "Can't install."
### What version of `astro` are you using?

@latest

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

NPM

### What operating system are you using?

windows

### Describe the Bug

Trying to use CLI ( npm create astro@latest ) but then I keep getting this error code even after installing git, however, my other developer used this CLI prompt fine and

[2022-09-07 20:51] Jimmyelvis opened #4665 "Getting ERROR: Expected ")" but found "s" when simply trying to run the example"
### What version of `astro` are you using?

1.1.6

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

npm

### What operating system are you using?

Windows 10

### Describe the Bug

I was simply trying the example on the Astro website. I followed the directions and ran npm create astro@latest, I went with the recommended settings, cd to my project

[2022-09-07 23:41] #4391 closed

[2022-09-08 01:41] HosfordDotMe commented on #4660
Is this issue failing to hot reload on any change while using WSL in Windows?

[2022-09-08 06:03] rainerbird commented on #4651
I am also getting this issue too, on a fresh installation of astro + svelte

[2022-09-08 06:55] jaymanmatthewsdev opened #4670 "BUG: Vercel Edge Adapter Related Issue With Using Node Modules (e.g. Crypto)"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

Vercel Edge

### What package manager are you using?

pnpm

### What operating system are you using?

Windows (WSL 2)

### Describe the Bug

When utilising the Vercel edge adapter, a simple build of the application is unsuccessful. It seems to fail bundling Node.js native modules, such as 'crypt

[2022-09-08 07:05] beeb opened #4671 "Svelte component styles are not included in built HTML document"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows WSL2

### Describe the Bug

When using a svelte component ([`svelte-video-player`](https://github.com/meigo/svelte-video-player)), the styles are bundled into a CSS file found in the `assets` d

[2022-09-08 07:10] newtonharry commented on #4567
I'm experiencing the same issue when I try to deploy from a github repo. When I deploy using the vercel CLI the function no longer produces the error message and the application starts working.

I'm using the PNPM package manager.

This is my package.json:
[code]

Here is my build logs:

[code]

[2022-09-08 09:28] safinea commented on #4636
Matthew,
I think it's a case of 'already been solved'. I could indeed not replicate with Astro v1.1.7 (default stackblitz), but my own environment is still on Astro v1.1.1.
When I went 'configured' (the updated) stackblitz back to 1.1.1 the error comes back, also when downloaded locally.
But something between v1.1.1 and v1.1.7 has probably already solved this.  Case close, I think...

[2022-09-08 11:40] kevinseabourne commented on #4432
If you guys can get styled components to work with Astro I am totally going to make the switch. I love styled components, works perfectly with component based styling and makes your code so easy to read.

[2022-09-08 11:50] gasatrya opened #4672 "Weird generated asset name"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

WSL2 on Windows

### Describe the Bug

I am not sure if this is an issue, or I miss configured Astro, when I ran `build`, asset generated file name is so weird, it is named based on existing pages I hav

[2022-09-08 12:36] matthewp commented on #4636
Great! Thanks for looking into it. Happy to reopen if you run into this issue again.

[2022-09-08 14:13] MartijnHarmenzon opened #4674 "Error when hosting concents of dist folder"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

When hosting the build result (contents of the dist folder) on AWS S3 as a static website, it will give the following error:

![image](https://user-images.githubuserconte

[2022-09-08 14:23] delucis commented on #4674
That looks like you may need some configuration for S3 to serve your JavaScript files with the correct MIME type (`application/javascript` instead of `text/plain`). I’m not an S3 user but maybe this Stack Overflow answer is helpful? https://stackoverflow.com/questions/67925203/aws-cloudfront-serving-javascript-modules-as-wrong-mime-type-text-plain

[2022-09-08 14:34] MartijnHarmenzon commented on #4674
Thanks @delucis! That was it. Working now.

[2022-09-08 14:34] #4674 closed

[2022-09-08 15:31] tony-sull opened #4677 "[@astrojs/image] images should be built to `dist/assets`"
### What version of `astro` are you using?

1.0.7

### Are you using an SSR adapter? If so, which one?

none

### What package manager are you using?

pnpm

### What operating system are you using?

mac

### Describe the Bug

Optimized images built for SSG builds are being dropped in the main `dist` directory, they should go into `dist/assets` along side other static assets built by Vite

### Link

[2022-09-08 17:03] jasikpark commented on #4533
This could be Astro specific as well, since the ability to import MD / MDX is an Astro-built Vite plugin, right?

[2022-09-08 17:20] brycewray commented on #4533
Hope so. I’d be more optimistic about a fix in that case, although I gather at this point mine is an edge case since I don’t see reports of others having similar issues with `Astro.glob()` and the like.

[2022-09-08 18:41] #4677 closed

[2022-09-08 19:17] lanpai commented on #4383
@matthewp in the example case, the two files are not identical (different style contents), only the structure of the elements are.

[2022-09-08 19:33] matthewp commented on #4672
Hi @gasatrya, we generate these names based on the page they belong to, to avoid interfering with other pages. A page's CSS is made up of more than 1 css file usually so we can't just name it after that. Perhaps we could do better and make it shorter, but it's always going to be based on the page it belongs to.

The name of the file hopefully doesn't cause any actual issues, does it? Going to clos

[2022-09-08 19:42] matthewp commented on #4663
@Cruebee after you install git you probably need to close and reopen your terminal. Type `git` to be sure its installed properly.

[2022-09-08 19:43] matthewp commented on #4670
That's because Vercel Edge does not use Node.js and packages such as `crypto` are internal Node packages. If you need Node support use Vercel Serverless instead.

[2022-09-08 19:43] #4670 closed

[2022-09-08 19:44] matthewp commented on #4661
Good point!

[2022-09-08 19:47] matthewp commented on #4665
Can you provide an example?

[2022-09-08 19:49] Princesseuh commented on #3646
Hello. I cannot reproduce this issue in the latest version of Astro. I suspect this was fixed by https://github.com/withastro/astro/pull/4344

Thank you for reporting this issue! If this rehappen to you, please open another issue and we'll take a look!

[2022-09-08 19:49] #3646 closed

[2022-09-08 19:55] RapidOwl commented on #3449
Hey folks, I found my way here from an [issue on the Preact repo](https://github.com/preactjs/preact/issues/3468).

I don't know if this is going to be helpful for the Preact Astro integration, but this solved it for me with Preact + Vitest:

Here's a copy of my reply over there:

I just ran into this issue with Preact + Vitest and found this solution on a similar issue on the Vitest repo: https:/

[2022-09-08 20:47] swift502 opened #4685 "getStaticPaths doesn't support Allman style braces"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

The following syntax of the [getStaticPaths](https://docs.astro.build/en/reference/api-reference/#getstaticpaths) function causes an error:

[code]

Putting the opening br

[2022-09-08 20:58] natemoo-re commented on #4685
Thanks for opening an issue! This isn't us trying to enforce a particular coding style, it's just a compiler bug! I'm surprised nobody ran into this earlier.

I'll try to get a fix in the compiler ASAP.

[2022-09-08 21:06] swift502 commented on #4685
I look forward to seeing how this is fixed! I tried to figure out how the validation works but couldn't find anything. 😅

[2022-09-08 21:13] matthewp commented on #3681
https://user-images.githubusercontent.com/361671/189226996-c71f67c4-dd9b-49fb-84b0-8edd217c1758.mp4

What am I missing here, it seems to be HMRing just fine.

[2022-09-08 21:18] tusamni commented on #3681
I did a simple test, and it does indeed work with `is:inline`.

It didn't work for me with a hoisted script. That might be by design, I'm no expert.

[2022-09-08 21:18] matthewp commented on #3681
Ok great, so it's hoisted scripts specifically, I can see that now @tusamni, thank you.

[2022-09-08 21:18] arimgibson commented on #3681
Strange @matthewp ... Personally I was using command prompt instead of PowerShell, what about others? Wouldn't have guessed that as a potential issue; will try with PowerShell later today

[2022-09-08 21:24] matthewp commented on #3681
Found the problem.

[2022-09-08 21:36] Jutanium commented on #4658
If this is an issue with our docs site, please [make an issue there!](https://github.com/withastro/docs/issues) That said, I don't see this issue on our current docs site.

[2022-09-08 21:39] luwes commented on #4658
I should have been clearer, it's about the Astro docs starter kit https://github.com/withastro/astro/tree/main/examples/docs

Thanks for looking into it.

[2022-09-08 21:40] Jutanium commented on #4658
My bad! Seems like a good update for us to make to that template!

[2022-09-08 21:44] sarah11918 commented on #4658
Hi @luwes!

Just to let you know that the Docs template is due for some updates as that starter is really pretty far behind our own Docs site. We do plan to add some features that are currently in Astro Docs, but I'm not sure we have a timetable for that yet. I do agree that this is something we like having in our own docs site that is probably one of the features that we will add to our starter t

[2022-09-08 22:02] swift502 commented on #4665
I just ran `npm create astro@latest`, then `cd my-astro-site` and finally `npm run dev` and everything went ok. Can't reproduce. 😕

[2022-09-08 22:58] alexbruno commented on #4319
Not for me!
I'm using just Astro + Vue in 3 projects. Everything is working and building ok.
So I guess this happens only if you have other front-end integrations running in the same project like @darusk already suggested.
Astro and Vue versions: latest, ever!

[2022-09-09 00:03] alexbruno opened #4686 "client:* directives are loading Vue components server-side"
### What version of `astro` are you using?

latest

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows and Linux

### Describe the Bug

Reference: https://docs.astro.build/en/reference/directives-reference/#client-directives

The `client:*` directive is loading Vue components server-side.
It on

[2022-09-09 00:09] Jimmyelvis commented on #4665
Here's a quick git repository I just put together. It's basically all the steps swift502 just did except for me I keep getting the error I mentioned above.

https://github.com/Jimmyelvis/astrotest

[2022-09-09 00:13] midlantica commented on #4618
Thank you so much for your help! I got insane busy and couldn't try fix, or thank you earlier.

It works now! Astro rocks!

[2022-09-09 01:37] markpinero opened #4687 "Nested hydrating components aren't working properly"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

If a hydrated component toggles visibility of a child component that's hydrated by (client:visible/only tested), the parent component will not function properly in some insta

[2022-09-09 01:41] markpinero commented on #4687
Only way I've found that works via https://discord.com/channels/830184174198718474/845451724738265138/966277614056652831:

[code]

Child.tsx
[code]

[2022-09-09 07:39] Lifeni opened #4689 "Can't run build or dev when project path contains non-English characters on Windows"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

1. Open Terminal on Windows.
2. Run the following command to create the project.

[code]

3. Error after running command.

[code]

The error message is as follows, the `\

[2022-09-09 10:05] marceloverdijk opened #4691 "Hoisted client javascript libraries not woking"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I cannot use client javascript served from a NPM dependency.

In `Layout.astro` the client javascript library is included like:

[code]

But in the browser it fails with:

`Un

[2022-09-09 11:22] Enteleform opened #4692 "ESM dependencies are not resolved correctly during build"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

This error occurs during `build` when multi-distribution (*CJS, ESM*) packages are imported.

[code]

I included two demos in the reproduction repo, one using `astro` and on

[2022-09-09 13:02] #4615 closed

[2022-09-09 14:33] toonddd commented on #4627
Will investigate this further. Will get back to you asap. I agree it does look like a Solid SSR issue at first glance.

[2022-09-09 14:44] matthewp commented on #3681
PR will go out today: https://github.com/withastro/astro/pull/4645/

[2022-09-09 14:52] toonddd opened #4695 "Incorrect encoding for frontmatter extracted from markdown files by Astro.glob"
### What version of `astro` are you using?

1.1.7

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Special characters in strings defined in markdown file frontmatter are garbled when obtained via `Astro.glob`.

Encoding is fine when consuming the same markdown content in an

[2022-09-09 14:53] #3681 closed

[2022-09-09 14:53] obj-obj commented on #4295
This is getting kind of out of hand, one page has the same script inserted 3 times

[2022-09-09 14:57] matthewp commented on #3681
This fix is going out with 1.1.8 right now.

[2022-09-09 15:07] matthewp commented on #4691
It appears this works:

[code]

[2022-09-09 15:07] #4691 closed

[2022-09-09 15:13] marceloverdijk commented on #4691
ok thx, so that is the supposed way to include a "full" library?
In some cases I want to include such libraries - similar as jquery plugins in the past - , but don't do a further config myself, how would I import it then?
Simply `import 'aos/dist/aos.js'` and all would work?

I'm just missing the knowledge how to import npm libraries best.

[2022-09-09 15:30] marceloverdijk commented on #4691
@matthewp Additionally I found that some js client libs I need to include on the page do not export a default.

E.g. just doing:

[code]

and then when doing `import HSBsValidation from '@js/hs.bs-validation.js'` in my `Layout.astro` that will result in the following error in the browser:

[code]

Is there something I can do such a case? Thx for your help, much appreciated 👍

[2022-09-09 15:58] matthewp commented on #4689
Please add a stackblitz example and resubmit, thanks.

[2022-09-09 15:58] #4689 closed

[2022-09-09 16:44] matthewp commented on #4686
That's as intended, Astro server renders components by default. If you want a component to not be server rendered because it uses browser code, `client:only` is the thing to use.

[2022-09-09 16:44] #4686 closed

[2022-09-09 16:46] #4663 closed

[2022-09-09 17:51] matthewp commented on #4671
Looks like this is a problem when using `client:only`, is that right?

[2022-09-09 18:12] AgileNix commented on #4536
I'm having a similar issue. In my case, no images are displayed on Vercel production deployments when I use SSR. With SSG, everything works fine.

[2022-09-09 18:18] matthewp commented on #4671
PR: https://github.com/withastro/astro/pull/4699

[2022-09-09 18:20] matthewp commented on #4691
You really just need to read the docs on each package and they should tell you what they export. There's nothing that Astro does that has any control over this.

[2022-09-09 18:21] matthewp commented on #4692
Is this fixed using `vite: { ssr: { noExternal: [ 'solid-use' ] } }` ?

[2022-09-09 18:39] matthewp commented on #4614
Is this example even using Tailwind? I don't see the usage.

[2022-09-09 18:47] matthewp commented on #4614
I guess the reset happens anyways?

[2022-09-09 18:52] #4671 closed

[2022-09-09 18:58] matthewp commented on #4614
A related issue: https://github.com/withastro/astro/pull/4446

[2022-09-09 19:51] bholmesdev commented on #4598
Ah, I think I know the issue here! We pass an empty string `""` for your homepage route today, rather than a `"/"`. This is likely tripping up our type check. Will make a fix 👍

[2022-09-09 19:59] matthewp commented on #4614
Ok, I looked into this a bit. So what is happening here is that you are generating a few bundles but the important ones are:

1. global.css + Footer.astro
2. Tailwind reset

Both of these bundles are used on all 9 pages. I'm not sure there's really a way for us to determine which of these bundles should go first and which should go last. From Astro's perspective they both seem equally important as

[2022-09-09 20:36] marceloverdijk commented on #4691
OK I understand, I have so js libraries that don't export anything but just define a const.

When just using such a file using a <script> tag that works (even if  nothing is exported)

But I just cannot include such a js file in a script tag when such a js file is in node_modules using npm unfortunately..

[2022-09-09 20:41] matthewp commented on #4614
Ok, I think I have a solution for this based on source order. Need to figure out how to write a test.

[2022-09-09 21:08] greypants opened #4704 "`npx astro add` throws "fetch is not defined" in v1.2.0"
### What version of `astro` are you using?

1.2.0

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm, yarn

### What operating system are you using?

Mac

### Describe the Bug

`npx astro add` throws "fetch is not defined" in v1.2.0
version 1.2.0 appears to have broken `npx astro add`.

[code]

Reverting to `"astro": "1.1.8"` works fine.

### L

[2022-09-09 22:40] Princesseuh commented on #4704
Thank you for the report! This is fixed in 1.2.1😄

[2022-09-09 22:40] #4704 closed

[2022-09-09 23:10] #4319 closed

[2022-09-10 00:58] Lifeni commented on #4689
StackBlitz doesn't have a Windows environment, so it can't be reproduced with StackBlitz.

Here is a working link: [stackblitz](https://stackblitz.com/edit/github-i4hde8?file=%E6%B5%8B%E8%AF%95%2Ftest%2F.stackblitzrc,%E6%B5%8B%E8%AF%95%2Ftest%2FREADME.md), the error cannot be reproduced.

[2022-09-10 03:20] GoodBoyNeon opened #4708 "Terminal process gets terminated when a js/ts error occurs"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

So whenever there's an javascript/typescript error in the console, the process stops completely and I have to run `astro dev` command again to start the server. It doesn'

[2022-09-10 03:24] GoodBoyNeon opened #4709 "Terminal process gets terminated when a js/ts error occurs"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

So whenever there's an javascript/typescript error in the console, the process stops completely and I have to run `astro dev` command again to start the server. It doesn'

[2022-09-10 03:25] #4708 closed

[2022-09-10 06:49] coryvirok commented on #3470
I'm also seeing the same behavior when attempting to read the cookie from an APIRoute. This is breaking the SSR example.

I'd recommend bumping this up to a p1 since it makes SSR apps that require authentication completely broken.

[2022-09-10 07:38] coryvirok commented on #3470
Upgrading to Node 18.9 (from 18.2) seems to fix it.

Also, more info here: https://discord.com/channels/830184174198718474/1004159859131944981/1004464449601667154

[2022-09-10 09:50] Enteleform commented on #4692
@matthewp

This seems to work 👍. Do you know why it's required for `astro` but not other `vite` projects? I just added another demo to the repro, `vite`'s `vanilla-ts` starter. It also builds fine with `solid-use` without any explicit configuration.

Also, once I got past that error I ran into another one which seems to be caused by improper hoisting in the `entry.mjs` bundle. This one might be ha

[2022-09-10 11:44] matthewp commented on #4692
If I had to guess, this line is probably causing it: https://github.com/withastro/astro/blob/main/packages/integrations/solid/src/index.ts#L42

can you try commenting that out in your local node_modules and see if it fixes any of those issues?

[2022-09-10 12:25] Enteleform commented on #4692
Just tried it, still ran into the original issue.

[2022-09-10 16:57] Beefers opened #4714 "Exporting and importing the output of `Astro.glob` causes a compiler error"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

When exporting the output of `await Astro.glob("./*.md");`, then importing it in another file, Astro will attempt to reference a variable that is not yet defined, thus er

[2022-09-10 18:29] ruhollahh commented on #4692
I ran into this problem with the @codesandbox/sandpack-react package.
and this didn't help:

[2022-09-10 19:12] matthewp commented on #4692
@ruhollahh that's likely unrelated.

[2022-09-10 19:20] ruhollahh commented on #4692
I'm getting this error:
` error   Named export 'SandpackCodeEditor' not found. The requested module '@codesandbox/sandpack-react' is a CommonJS module, which may not support all module.exports as named exports.
  CommonJS modules can always be imported via the default export, for example using:

  import pkg from '@codesandbox/sandpack-react';
  const { SandpackProvider, SandpackLayout, SandpackCo

[2022-09-10 21:12] jameswolfisz opened #4715 "Dynamic Tag styles not working with define:vars"
### What version of `astro` are you using?

v1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

In a **Component** when using `define:vars` in `<style>` that targets a Dynamic Tag class the design tokens do not get passed to the the css.

[code]

### Link to Minimal

[2022-09-10 22:11] altano commented on #4545
Fix is merged, closing

[2022-09-10 22:11] #4545 closed

[2022-09-10 23:37] aminya opened #4716 "@vitejs/plugin-legacy doesn't work"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

pnpm

### What operating system are you using?

Windows

### Describe the Bug

I am trying to use `@vitejs/plugin-legacy` to generate a bundle for the older browsers, but nomodule is not inserted into my built HTML files. Does Astro support this?

h

[2022-09-11 00:24] alex-grover commented on #1119
@drwpow sorry for reviving this old issue, but I'm not on Discord. Now that Astro has SSR, is this something that's in discussion? This feature is extremely useful in other frameworks.

[2022-09-11 04:05] SMEETT opened #4718 "Fonts are not found after SSR build (when using `public` directory)"
### What version of `astro` are you using?

v1.1.6

### Are you using an SSR adapter? If so, which one?

Node

### What package manager are you using?

NPM

### What operating system are you using?

Win 11 Enterprise (10.0.22000 Build 22000)

### Describe the Bug

When fonts sit in `public/fonts` they are moved to `dist/fonts` after build, but Astro (or Vite) expects them at `dist/assets/fonts` —

[2022-09-11 05:19] arthur-fontaine commented on #4432
vanilla-extract now supports Astro! https://github.com/seek-oss/vanilla-extract/pull/796

[2022-09-11 15:54] ruhollahh commented on #4692
I downgraded the astro version from 1.1.7 to 1.0.0-beta.73 and the problem was solved, I guess it had something to do with vite 3.

[2022-09-11 16:07] rohaanuv opened #4719 "Component creation error due to Vite V3"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

windows

### Describe the Bug

### Component creation error due to Vite V3
 I am getting the following error.  for creating the component in Astro.
Terminal Error:
![image](https://user-images.githubuse

[2022-09-11 16:24] Enteleform commented on #4692
Just tried `1.0.0-beta.73` for the repro & still ran into the same issue.

[2022-09-11 22:12] Princesseuh commented on #4719
I suspect this might be happening because your component has a capitalized A in the file extension.

[2022-09-12 05:37] FredKSchott commented on #4541
Closing, thanks everyone for participating in DX Week! Everything not yet checked has still been migrated to items on our core issue tracker.

[2022-09-12 05:37] #4541 closed

[2022-09-12 05:53] FredKSchott commented on #4243
Closing since this is technically answered by the message, but agreed the message could be better! We have a ticket on our core tracker to improve this to be less skippable

[2022-09-12 05:53] #4243 closed

[2022-09-12 06:06] osdiab opened #4721 "Astro Image cannot be used with Deno"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

Deno

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

When running `yarn build` I get this:

[code]

### Link to Minimal Reproducible Example

https://github.com/osdiab/astro-deno-image-repro

### Participation

- [ ] I am willi

[2022-09-12 06:21] whoisryosuke commented on #2196
Got this error today using Styled Components in Astro v1.1.3 while running `yarn build`.
Nothing fancy, just installed SC, used it in a React component, used that in an Astro page/component.

[Here's a branch that produces error](https://github.com/whoisryosuke/ryosuke-astro-blog/tree/styled-components). Maybe [CodeSandbox-able here?](https://githubbox.com/whoisryosuke/ryosuke-astro-blog/tree/styl

[2022-09-12 10:45] maxdevjs commented on #4220
Experiencing this issue today

The following code logs the warning message:

[code]

The following code does <strong>not</strong> log the warning message:

[code]

[2022-09-12 11:32] panwauu commented on #4411
@tony-sull: I think this issue can be closed

[2022-09-12 13:10] matthewp commented on #4719
I think @Princesseuh is right here. If you can create an example in Stackblitz we'll be happy to take a look, otherwise I suggest just renaming the extension to use a lower case `a`.

[2022-09-12 13:10] #4719 closed

[2022-09-12 13:11] matthewp commented on #4716
Astro does not support browsers without support for modules.

[2022-09-12 13:11] #4716 closed

[2022-09-12 13:13] matthewp commented on #4715
This looks like a duplicate of https://github.com/withastro/astro/issues/4400

[2022-09-12 13:13] #4715 closed

[2022-09-12 13:16] matthewp commented on #4718
You can have fonts in public for sure. It's all about how you reference them. As long as you referencing them by absolute path like so:

[code]

Then it should work fine. If you are seeing otherwise can you create a stackblitz?

[2022-09-12 13:16] matthewp commented on #4714
Exporting values from Astro components is not supported.

[2022-09-12 13:16] #4714 closed

[2022-09-12 13:19] matthewp commented on #4709
I think this shows it happening: https://stackblitz.com/edit/github-zguvg1?file=src%2Fpages%2Findex.astro&on=stackblitz

[2022-09-12 13:21] SMEETT commented on #4718
Hi @matthewp!

I am referencing them exactly like that, but they are still expected in `assets/fonts`. I'd love to reproduce this issue on Stackblitz (and I tried) but I am not allowed to upload a font-file. That said I might just do it wrongly. I don't have much experience with Stackblitz.

So if you could tell me how I can get around this I will try to reproduce the issue again.
Greetings
Boris

[2022-09-12 13:27] matthewp commented on #4718
@SMEETT just a regular github repo would also work as a reproduction.

[2022-09-12 13:35] ruhollahh commented on #4692
okay I finally fixed it by finding the the package in error in node_modules folder and adding this to it's package.json file:
`"type": "module"`
also edit this:
"main": "dist/cjs/production/index.js"
to this:
`"main": "dist/esm/production/index.js"`
I also tested this method in your Minimal Reproducible repo and it works, I was able to build without any error.
I hope this helps.

[2022-09-12 14:24] matthewp commented on #4538
See that this has been resolved, closing!

[2022-09-12 14:24] #4538 closed

[2022-09-12 14:25] #4436 closed

[2022-09-12 14:26] matthewp commented on #4359
That is correct, Astro.glob turns into an import statement. We're going to fix this with a new feature that doesn't do that.

[2022-09-12 14:26] #4359 closed

[2022-09-12 14:32] #4337 closed

[2022-09-12 14:34] matthewp commented on #4229
@bluwy I'm assigning to you to investigate. It's possible that this is a tricky issue so we might need to talk about it before trying to fix it.

[2022-09-12 14:37] matthewp commented on #4006
@bluwy This happens if someone uses an outDir outside of the project.

I wonder if we need to, only when this occurs, build the project into a tmp folder and then move it to outDir at the end. Happy to discuss alternative ideas if you have them.

[2022-09-12 14:40] matthewp commented on #3199
@bluwy this might be fixed by that new resolution idea we discussed. Assigning to you, but this can be checked *after* the refactor.

[2022-09-12 14:51] swift502 commented on #4337
@matthewp Thanks a lot! I'll definitely use `trailingSlash: 'always'` to prevent this.

[2022-09-12 15:07] swift502 commented on #4337
The only idea I have to prevent this in the future is to set trailingSlash to 'always' by default to match the default 'directory' build.format.

[2022-09-12 15:16] bholmesdev commented on #4376
@jackiewmacharia Ah, thanks for the thorough investigation and fix! Such a joy reading issues like this 😄
I confirmed this issue exists on Netlify CLI 10.18 and later, and can also confirm your fix solves the issue. I'll make a PR for expediency here but I'll tag your profile as a co-author.

[2022-09-12 16:42] matthewp commented on #4665
@Jimmyelvis can you let me know what Node version and operating system you are using?

[2022-09-12 16:42] tony-sull commented on #4109
We'll need to investigate this a bit more.  The `@astrojs/image` integration only supports Node environments right now, but we do want to add support for deno soon.  I'm not sure exactly what the differences are in Cloudflare's `webworker` support, hopefully we can add support there as well

[2022-09-12 16:47] alexbruno commented on #4686
So, I think this could be clearer!
The documentation is not clear about that and also the directive name is not really clear about that.
What mean when I use the `client:load` directive?
It is supposed to **load** the component on the **client**.
If I want the component to be loaded client-side, why should it be rendered server-side?
If I have everything ok in the component to be rendered server-s

[2022-09-12 16:51] matthewp commented on #4660
Discord thread: https://discord.com/channels/830184174198718474/1014759140456923137/1015158873033805834

[2022-09-12 17:16] mark-looptimize commented on #2731
Just wanted to say that I ran into this same issue today in the context of using PostCSS with [Astro](https://github.com/withastro/astro) to build a single component file.

![Screenshot 2022-09-12 6 12 15 PM](https://user-images.githubusercontent.com/84925676/189715818-5e9c6347-cb65-466b-a787-7a34597f601f.png)

I can confirm that this don't transform correctly.

[2022-09-12 18:00] Jimmyelvis commented on #4665
Sure, I'm using Node v16.13.2, Npm 8.13.2, and my OS is Windows 10 64 bit

[2022-09-12 18:37] aminya commented on #4716
Since Astro mostly uses HTML, supporting old browsers should not be very hard. I wonder what causes this official Vite plugin not to work.

[2022-09-12 18:40] #4709 closed

[2022-09-12 19:05] #4598 closed

[2022-09-12 19:14] kestvir opened #4726 "Hydration issue when using local storage"
### What version of `astro` are you using?

1.0.0-beta.44

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

Hello, I'm trying to make a new personal site with Astro. Wanted to implement dark theme switcher that looked similar to the one in astro docs. When the page is re

[2022-09-12 19:14] matthewp commented on #4610
@zaha if you download this exact stackblitz locally and run it you see the problem?

If that's the case what OS are you using?

[2022-09-12 19:22] tony-sull opened #4727 "HMR broken in certain cases when using the Storyblok integration"
### What version of `astro` are you using?

1.2.2

### Are you using an SSR adapter? If so, which one?

NOne

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

HMR doesn't seem to be triggering updates in components used by the Storyblok integration.  Storyblok's API sends down JSON blocks that are mapped back to Astro components bas

[2022-09-12 20:14] matthewp commented on #4726
Can you try with the stable 1.0 release? We are no longer supporting the beta.

[2022-09-12 20:27] Enteleform commented on #4692
There are two current workarounds that don't require altering affected packages:

Matthew's suggestion of:
[code]
and also one that I had posted on the Discord server when I opened the issue:
[code]

[2022-09-12 20:34] matthewp commented on #4568
Can confirm that this is because of hoisting. Due to how Vite works when compiling code, it winds up `import()`ing it for you. Which means it has to be a dependency of the thing doing the import, or a parent. Hoisting works around this issue.

Other Vite-based frameworks have the same problem, see for example: https://github.com/nuxt/vite/issues/91

So closing as there's not really anything we can

[2022-09-12 20:34] #4568 closed

[2022-09-12 20:35] #4614 closed

[2022-09-12 20:47] matthewp commented on #4692
Is this a problem only in build but not in development mode?

[2022-09-12 20:49] Enteleform commented on #4692
Yes, that's correct.

[2022-09-12 20:59] alexwhitmore opened #4730 "Possible issue with env variables"
### What version of `astro` are you using?

1.2.2

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I am following [this](https://docs.astro.build/en/guides/environment-variables/) Astro documentation for using .env files and variables. Essentially I have created a .env file

[2022-09-12 22:38] MykalMachon commented on #4730
Hey 👋🏻
I just gave this a quick look while checking out new issues.

You just need to move your `.env` file up a folder! It should be in the root of your repo, not the root of your pages file.
when I did that I was able to get things working 😄

Check out [my fork of your StackBlitz repo](https://stackblitz.com/edit/github-e4cvvq-gfjhqd?file=src/Auth.jsx)

Let me know if you have any questions! (al

[2022-09-12 23:05] mayank99 commented on #4432
I've updated the table with the most recent status. A lot more green now 💚

In addition to official `vanilla-extract` support, I was able to work around the build errors in `styled-components`/`emotion`/`linaria` by using a combination of [`vite.legacy.buildSsrCjsExternalHeuristics`](https://vitejs.dev/guide/ssr.html#ssr-format) and [`vite.ssr.noExternal`](https://vitejs.dev/config/ssr-options.htm

[2022-09-12 23:11] MoustaphaDev commented on #4400
I think the issue comes from the compiler. Since a dynamic tag needs to be capitalized, the parser thinks it is a normal component according to the [isComponent](https://github.com/withastro/compiler/blob/02add77888cb2748de58e52f538b0e3d892615d3/internal/parser.go#L398-L403) function definition

[2022-09-12 23:33] #4376 closed

[2022-09-12 23:49] alexwhitmore commented on #4730
@MykalMachon Oh my.. I knew it had to have been something small I was missing but didn't think it would've been **that** in my face! Thank you, I appreciate it!

[2022-09-12 23:49] #4730 closed

[2022-09-13 00:25] jazoom commented on #4561
As I noted in my comment in #4594, I think serving a full 404 HTML page is not the appropriate way to handle this (imagine calling the incorrect URL in the terminal, or doing some console debug logging and printing the response). I'd like a simple way to, for example, return a text response such as "API route not implemented".

[2022-09-13 05:27] kestvir commented on #4726
Thanks for pointing this out. However, looks like the stackblitz example is using astro 1.2.1 and if you look at the `console ` the warning still gets shown.

[2022-09-13 06:07] joe-bell commented on #4568
Thanks @matthewp!

[2022-09-13 08:03] niboac opened #4731 "My project is build with astro + vue, the style in vue is diffrent between dev env and product env."
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

My project is build with astro + vue,  in dev envioment, the styles are all good, but when I build and preview, the styles are missing. I mean the styles in vue are missing.

##

[2022-09-13 08:07] niboac opened #4732 "Using css selector where() is not good for many browsers"
### What version of `astro` are you using?

1.1.5

### Are you using an SSR adapter? If so, which one?

no

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I suggest do not use css selector where(), cause It is too new for many old browser, even bellow Chrome 88.

### Link to Minimal Reproducible Example

do not need demo

### Part

[2022-09-13 08:43] toonddd commented on #4627
I have created a different bug report on the relevant repository.

[2022-09-13 08:43] #4627 closed

[2022-09-13 09:05] bluwy commented on #4109
Thanks for the update @tony-sull. With `webworker`, you can imagine an SSR build but without all the nodejs modules available. Cloudflare uses V8 instead of node but implements a browser web worker-like API instead. I'll unassign myself as I don't have a good overview of how this would work for the image integration.

[2022-09-13 09:12] santicros opened #4733 "Tailwind add-on making client scripts not work on development until file is edited"
### What version of `astro` are you using?

1.2.2

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

MacOS Monterey 12.5.1

### Describe the Bug

I have created a very simple demo: There is a `console.log('hi')` in the `/pages/index.astro` and when you do `npm run dev` it doesn't run the scripts. This

[2022-09-13 09:13] bluwy commented on #4695
Looks like adding

[code]

fixes the issue. Astro is returning the HTML as-is without encoding it when checking the network request. Closing this one as it's working as intended!

[2022-09-13 09:13] #4695 closed

[2022-09-13 09:13] kestvir opened #4734 "Invalid hook call react"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

I'm using react for one of my components but get the invalid hook call even though the code looks ok.

### Link to Minimal Reproducible Example

https://stackblitz.com/edi

[2022-09-13 10:10] JeroenReumkens commented on #4432
Hey @mayank99
I was just giving your Stitches example a try. Am I correct in assuming that you can not abstract the head component into a layout and add the `Styles` component in there? When trying this I see styles from page 1 leaking into page 2, causing unnecessary styles to be in that page. So it seems that during build Astro is keeping the layout (and thus the head), and the styles will get a

[2022-09-13 11:22] bluwy commented on #4006
Yeah I think that's the best way to support this usecase. Maybe we should do this for all builds too so it's consistent.

[2022-09-13 11:57] sahil1sk commented on #3418
The above discuss all correct. But I also find another thing for me this error because of Incorrect upper folder structure.
// To use Astro.glob function upper folder structure should be clean like no upper folder should be like contains "Folder name (anything)" these "()" remove this from folder name

[2022-09-13 13:19] matthewp commented on #4734
Is this the same as https://github.com/withastro/astro/issues/4220 ?

[2022-09-13 13:26] matthewp commented on #4732
Thanks @niboac. I understand the concern here. Since we use this issue tracker for bugs can you make this point here instead: https://github.com/withastro/rfcs/discussions

We can discuss there and come up with a solution. A few people have suggested this.

[2022-09-13 13:26] #4732 closed

[2022-09-13 13:26] bluwy commented on #3418
@sahil1sk that was actually a bug in Vite that should be fixed now. We will be bumping the Vite version Astro uses soon, or you can use [npm overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) to use that at the meantime.

[2022-09-13 13:27] #4731 closed

[2022-09-13 13:58] kestvirb commented on #4734
Sorry and thanks!

[2022-09-13 14:26] #4734 closed

[2022-09-13 14:39] santicros commented on #4733
Hi! I've also now tested uninstalling the `@astrojs/tailwind` add-on and adding TailwindCSS with the official PostCSS instructions from the Tailwind page (https://tailwindcss.com/docs/installation/using-postcss) and it happens the same, so I believe it must be something realted with the Astro HMR and PostCSS.

[2022-09-13 15:06] Simptechtic-Nicholas118 opened #4737 "Multipart/form-data file encoding issue"
### What version of `astro` are you using?

1.2.2

### Are you using an SSR adapter? If so, which one?

Nodejs

### What package manager are you using?

yarn

### What operating system are you using?

Windows 10

### Describe the Bug

I tried to upload using PNG and JPEG but none of it works

/src/pages/index.astro
[code]

/src/pages/api/upload.ts
[code]

server console log buffer
[code]

However,

[2022-09-13 15:12] bluwy commented on #3470
I'm a bit confused of what's wrong here as `Astro.request.headers.get('cookie')` works in node 16. So it seems like this is a bug within undici that's causing the issue. Thanks @coryvirok for digging into this. I'll close this for now.

[2022-09-13 15:12] #3470 closed

[2022-09-13 15:19] jtomek commented on #4164
Hello, how to get a 404 on Vercel?

This issue is reproducible in the official demo: https://vercel.com/templates/astro/astro-edge-functions
Example: https://astro-template.vercel.app/djaklfjaklsjdlfasdfjaklsdf

[2022-09-13 19:01] matthewp commented on #4737
Problem is probably here: https://github.com/withastro/astro/blob/main/packages/astro/src/vite-plugin-astro-server/index.ts#L217-L225

[2022-09-13 19:56] jacobthesheep opened #4741 "[astro:build] ENOENT: no such file or directory"
### What version of `astro` are you using?

1.2.3

### Are you using an SSR adapter? If so, which one?

Vercel

### What package manager are you using?

pnpm

### What operating system are you using?

Mac

### Describe the Bug

On `pnpm build` I get this error message "[astro:build] ENOENT: no such file or directory, open '/Users/jacoblamb/Documents/Docs/GitHub/personal-website/node_modules/.pnpm/

[2022-09-13 20:00] #4741 closed

[2022-09-13 20:01] SMEETT commented on #4718
@matthewp I figured out what the problem was:
Instead of using `url("/fonts/font.tff")` my path was missing the leading front slash ( `url("fonts/font.ttf")` ) which leads to the problem desribed above. So when I said "I am referencing them exactly like that" I wasn't correct. Sorry for the noise.

P.S: I don't know much about writing good docs but maybe it's worth considering to make clear the le

[2022-09-13 20:01] #4718 closed

[2022-09-13 20:13] matthewp commented on #4660
Relevant section:

[2022-09-13 21:11] matthewp commented on #4660
This is already fixed by https://github.com/vitejs/vite/commit/01857afbbdac40f950564a3be435a85282c3a159 thanks @bluwy !

[2022-09-13 21:11] #4660 closed

[2022-09-13 21:18] pikeas commented on #4410
This is very unexpected! The "C" in CSS is for "cascading" - component styles should override global styles. Specifically, any Astro transforms (eg, adding a class or `:where()`) should maintain the property that equal specificity ties are won by the latest definition.

Eg:

[code]

[code]

[code]

The green declaration should win, because the Button component is imported after the global style. A

[2022-09-14 05:04] WallaceSociety commented on #4660
Sorry I wasn't much help with this, I've been in the middle of a very large move, but thank you for addressing it. I'll check it out as soon as I can.

[2022-09-14 09:17] bluwy commented on #4459
Not sure if you're importing with a different case? (`Card` vs `card`) It's an issue with Vite that HMR doesn't work well with it.

---

I tested the repro with Astro 1.2.3 and it looks like dev now prints the correct error:

![Image](https://user-images.githubusercontent.com/34116392/190114075-9ba4931b-d23f-4681-b53a-1870ff4b46fa.png)

And build seems to self-exit instead of hanging, which needs

[2022-09-14 11:21] pReya opened #4749 "Language switcher not working in "docs" example"
### What version of `astro` are you using?

v1.2.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When creating a new page according to the `readme.md` of the [`docs` example](https://github.com/withastro/astro/tree/main/examples/docs), the language switcher won't work.

[2022-09-14 11:41] 1CAMOU commented on #4651
same issue for me

[2022-09-14 11:58] #4737 closed

[2022-09-14 12:06] matthewp commented on #4727
Here's a reduced version: https://stackblitz.com/edit/github-ql4awq?file=astro.config.mjs,src%2Fpages%2Findex.astro,src%2Fother%2FOther.astro&on=stackblitz

[2022-09-14 12:58] supermoos commented on #3647
To me it doesn't even point to file names, but just in-page `<style>` tags.
<img width="455" alt="Screenshot 2022-09-14 at 14 57 50" src="https://user-images.githubusercontent.com/2298345/190160254-6f008481-d7f8-4577-8401-25cf220e4b81.png">

[2022-09-14 13:00] supermoos commented on #3647
Adding the config from the first post helps, but then duplicates the styles:
<img width="457" alt="Screenshot 2022-09-14 at 15 00 36" src="https://user-images.githubusercontent.com/2298345/190160791-3b38762c-f3f6-4f87-b327-d6c9f5806b13.png">

[2022-09-14 13:24] #4006 closed

[2022-09-14 14:19] matthewp commented on #4726
This seems to work fine: https://stackblitz.com/edit/github-mmowge-7ea89s?file=src%2Fcomponents%2FThemeToggle.jsx&on=stackblitz

What is this not doing that you expect?

[2022-09-14 16:01] craigjennings11 opened #4753 "cloneElement with props defined does not render correctly"
### What version of `astro` are you using?

1.2.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

When using `cloneElement` in a React component, passing anything to the optional `props` parameter causes the children of the cloned element to not render.

Here's a scree

[2022-09-14 16:15] matthewp commented on #4561
@jazoom Since you control the 404 page you are able to respond with a simpler response if you want:

[code]

[2022-09-14 16:19] xstevenyung commented on #4749
It seems like the issue is coming from the sidebar config.

I had the same issue until I added the following code:
[code]

[2022-09-14 16:57] pablodavila95 commented on #4567
I'm getting the same error when deploying to Vercel. Anyone got any updates on this?

[2022-09-14 17:51] #4733 closed

[2022-09-14 17:57] matthewp commented on #4753
Looks like React doesn't like passing `null` or `undefined` as the children prop is the reason.

[2022-09-14 17:58] matthewp commented on #4749
@xstevenyung can you update the code?

ccing @delucis

[2022-09-14 18:27] phenomen opened #4757 "Stylesheet is duplicated on the Index page"
### What version of `astro` are you using?

1.2.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows, Linux

### Describe the Bug

After build, stylesheet is placed in the `head` and in the middle of the `body`.

![image](https://user-images.githubusercontent.com/138311/190233598-ab5a64f8-09e6-

[2022-09-14 19:17] #4542 closed

[2022-09-14 19:34] xstevenyung commented on #4749
It seems quite well documented already, do you want me to add an example?

[2022-09-14 19:42] #4753 closed

[2022-09-14 19:47] #4561 closed

[2022-09-14 20:29] pReya commented on #4749
@xstevenyung Changing the Sidebar object does not change anything for me. Even with the changed Sidebar, the Language Switcher doesn't do anything. I've added debug output to the `onChange` handler in the `<select>` of the LanguageSwitcher – it's never being called at all.

[2022-09-14 20:44] zaha commented on #4610
@matthewp I'm afraid I cannot reproduce it either with astro 1.1.5 in the downloaded stackblitz example neither in my own project running astro 1.2.4 where it originally appeared. Could be something that only happened on my laptop, will have to check that. My laptops' running on Win 11 whereas my desktop PC is running win 10.

[2022-09-14 20:45] matthewp commented on #4590
This PR will read from the tsconfig to determine which jsxImportSource to use: https://github.com/withastro/astro/pull/4759

[2022-09-14 20:49] erquhart opened #4762 "Unnecessary data script execution requires unsafe CSP"
### What version of `astro` are you using?

1.2.1

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

For discoverability/searchability, this issue is about errors due to `data:text/javascript;charset=utf-8,//[no before-hydration script]`.

Astro outputs a noop script using `d

[2022-09-14 21:05] matthewp commented on #4762
Thanks, we can probably just avoid adding this when it's not used

[2022-09-14 21:49] xstevenyung commented on #4749
Do you have some code I can look into ?

[2022-09-14 22:03] delucis commented on #4749
@matthewp There seems to be a Preact hydration error but I’m not 100% sure why it’s breaking `LanguageSelect.tsx`, because that’s actually a React component. Is it possible we broke combining React + Preact in one project somehow?

[2022-09-15 05:04] jazoom commented on #4561
But then we're back to the problem of having to add a special handler for every single route.

[2022-09-15 06:45] jon301 commented on #4432
I'm not sure if it's normal but there is some FOUC (in dev mode only) with Astro + `vanilla-extract`
Taking the [example](https://github.com/mayank99/astro-css-in-js-tests/tree/main/vanilla-extract) from @mayank99 :

https://user-images.githubusercontent.com/122108/190333357-c55ec618-a10a-4af9-bab6-3e5fc2de15d7.mp4

No FOUC when building the app in production mode.

[2022-09-15 06:57] zaha commented on #4610
Okay, just tested it on my laptop but cannot reproduce it there, either. Seems like a happenstance with my dev server instance back then, maybe it was in a messed up state. What is curios, though, is that the styled p tag is now coming through like this:

[code]

The "Before slot text" and "After slot text"  are outside of the slot p tag it looks like, so they don't get the color. This also happen

[2022-09-15 09:14] Enteleform commented on #2550
@natemoo-re

Just saw this on the Q4 roadmap:

Any chance this issue can get reopened so that granularity can be included in the HMR efforts?

[2022-09-15 10:23] st1ng7ay commented on #4231
Yes,  Cloudflare adaptor         still broke with   "import sanityClient"   at build process.
Dev work fine, without errors. Netlify adaptor also work fine, without errors.

<img width="985" alt="Снимок экрана 2022-09-15 в 17 20 43" src="https://user-images.githubusercontent.com/79450231/190379941-96cebd5a-5544-4624-bd3e-4c21a4935d2d.png">

[2022-09-15 11:03] AirBorne04 opened #4766 "@astro/solid-js does not work with @astro/cloudflare adapter"
### What version of `astro` are you using?

1.2.4

### Are you using an SSR adapter? If so, which one?

Cloudflare

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

SSR is enforced due to Cloudflare adapter. But SSR is not working with Solid in the Cloudflare environment (Worker).

`Error: Ct is not supported in the browser, ret

[2022-09-15 11:34] manuelschroederdev commented on #4727
Hey @matthewp, should this issue theoretically be fixed with the new 1.2.4 release using Vite 3.1? I've just tested it but the issue remains.

[2022-09-15 12:06] matthewp commented on #4766
Have you reached out to the SolidJS people about this? I'm betting they'd like to make it work in Cloudflare.

[2022-09-15 12:46] matthewp commented on #4762
PR to remove this when not used: https://github.com/withastro/astro/pull/4768

[2022-09-15 12:55] matthewp commented on #4536
@wiverson your gist is a 404 for me, is it private perhaps?

[code]

This doesn't work in Astro. Vite has to know the path in order to build it. So you can only use static strings here. Maybe this is your issue.

@GeoBrodas Can you share an example that fails?
@Igloczek Thanks for the reproduction! Can you file a separate issue to track this with Netlify? It's very likely a different issue.

[2022-09-15 13:12] matthewp commented on #4766
Did a little research and the reason is because of this line: https://github.com/withastro/astro/blob/0398efa39f14f40e77dc8e87f08e9f100a0fef34/packages/integrations/cloudflare/src/index.ts#L70

I think this is configuring Vite to prefer web entrypoints which results in the non-SSR code being bundled for Solid.

@nrgnrg wrote the Cloudflare adapter, do you know why you used this setting?

[2022-09-15 13:14] matthewp commented on #4727
@manuelschroederdev No, @bluwy and I debugged it and there's another Vite bug that needs to be fixed. @bluwy is working on that now.

[2022-09-15 13:37] Thesoreon commented on #4432
@jon301 This is related to the Vanilla Vite plugin itself, same behaviour can be observed in SvelteKit.

[2022-09-15 14:28] fmonper1 opened #4769 "Astro components from Remark plugin are not rendered in .mdx pages"
### What version of `astro` are you using?

1.2.4

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

I am trying to use the AstroAsides integration from the docs in my own site.

The integration works flawlessly in normal .md pages, but for .mdx pages, the directives get repl

[2022-09-15 14:35] pReya opened #4770 "Astro component doesn't render anything when it only contains a <script>"
### What version of `astro` are you using?

1.2.4

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

When I create a `index.astro` component, that ONLY includes a `<script>` tag, the script won't render/be included in the output at all.

This will not work:

[code]

However,

[2022-09-15 15:22] wiverson commented on #4536
@matthewp I actually got it working with this new gist:

https://gist.github.com/wiverson/697779257b9979ca07f3048f2bcad97d

I went back and forth a bit with the author of Astrowind and got it sorted out, now it's working with this version. IIRC turned out to be a bit of fiddly path weirdness, where the path was resolving correctly with one configuration in dev but not in prod. The version above wo

[2022-09-15 15:47] manuelschroederdev commented on #4727
Cool, thanks for your hard work!

[2022-09-15 16:33] #4762 closed

[2022-09-15 17:08] matthewp commented on #4610
@zaha That's an HTML issue, you cannot nest `<p>` elements inside of each other.